/* CSS Document */
h6 { margin:0; padding:0; list-style:none; font-size:12px; font-family:Tahoma, Arial,''; color:#333; font-style:normal;}
img{ border:0;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
.blank{ height:10px; clear:both;}
//body{ background:#000 url(../images/body_bg.gif) repeat-x top; padding-bottom:30px;}
.width{ width:975px; padding:37px 30px 0; margin:0 auto; background:#fff url(../images/top_bg.gif) no-repeat left -20px;}



/*-- travel --*/

.travel_list{ float:left; width:730px; clear:left; margin:10px 0 0 0; overflow:hidden;}

.travel_pro_list{ margin:0px 0 0 0; width:770px;}
.travel_pro_list li{ float:left; width:360px; margin:10px 18px 10px 0;}
.travel_pro_list li .name{ display:block; background:url(../images/travel_list_tit_bg.gif) no-repeat left; height:30px; color:#fff; line-height:30px; text-indent:10px; }
.travel_pro_list li .name a:link,.travel_pro_list li .name a:visited{text-decoration:none; color:#fff;font-size:15px;}
.travel_pro_list li .name a:hover,.travel_pro_list li .name a:active{text-decoration:underline; color:#fff;}
.travel_pro_list li .pic{ float:left;}
.travel_pro_list li .bendi,.travel_pro_list li .kuajing{ float:left; width:165px; display:; color:#080C70; font-size:15px; margin:5px 0 0 10px; font-weight:bold;}
.travel_pro_list li .bendi li,.travel_pro_list li .kuajing li{ width:auto; height:22px; line-height:22px; float:none; display:block; border:0; margin:0; font-size:12px; font-weight:normal;}
.travel_pro_list li .bendi li em,.travel_pro_list li .kuajing li em{ float:right; font-size:15px; color:#74028E; font-weight:bold;}
.travel_pro_list li .bendi li a,.travel_pro_list li .kuajing li a{ float:left; }
.travel_pro_list li .bendi li a:link,.travel_pro_list li .bendi li a:visited,.travel_pro_list li .kuajing li a:link,.travel_pro_list li .kuajing li a:visited{text-decoration:none; color:#615E65;}
.travel_pro_list li .bendi li a:hover,.travel_pro_list li .bendi li a:active,.travel_pro_list li .kuajing li a:hover,.travel_pro_list li .kuajing li a:active{text-decoration:underline; color:#615E65;}

.travel_pro_list li .blank{ background:url(../images/travel_list_g_bg.gif) no-repeat left center;}
.travel_pro_list li p{ float:left; width:165px; margin:5px 5px 0 0; line-height:22px;}
.travel_pro_list li .kuajing{width:165px;margin:5px 0 0 0px; clear:left;}

.travel_pro_list li ul.topss{ margin:-40px 0 0 15px; *margin-top:5px;}


.travel_list .remark{ line-height:20px;}
.travel_list .remark li{ float:left; width:365px; color:#142d6f;}

/*-- sports --*/

.sports_list{ float:left; width:730px; clear:left; margin:5px 0 0 0; overflow:hidden;}
.sports_list .sale{ }
.sports_list .sale .title{ background:url(../images/zh-tc/sports/sale_title.gif) no-repeat 10px 0; height:49px; clear:both; line-height:140px; overflow:hidden;}
.sports_list .sale .cont{ text-align:; background:url(../images/zh-tc/sports/sprots_cont_right_bg.gif) no-repeat right bottom; padding:10px 10px 28px 0; height:240px;}
.sports_list .sale .cont img{ margin:8px 0 0 40px;}
.sports_list .sale .cont span{ float:right; clear:both; margin:13px 65px 0 0;}

.sports_list .play_time{ }
.sports_list .play_time .title{ background:url(../images/zh-tc/play_title.gif) no-repeat 10px 0; height:49px; clear:both; line-height:140px; overflow:hidden;}
.sports_list .play_time .play_xm{ padding:8px 0 0 18px; font-size:14px; display:block; font-weight:bold;}
.sports_list .play_time ul{ padding-left:16px; width:715px;background:url(../images/zh-tc/sprots_cont_right_bg.gif) no-repeat right bottom; padding-bottom:10px; margin:8px 0 0 0;}
.sports_list .play_time ul li{ float:left; width:77px; height:105px;}
.sports_list .play_time ul li img{ border:1px #ccc solid; width:60px; height:60px;}
.sports_list .play_time ul li h6{ font-weight:normal; line-height:22px;}
.sports_list .play_time ul li h6 a:link,.sports_list .play_time ul li h6 a:visited{text-decoration:none; color:#333;}
.sports_list .play_time ul li h6 a:hover,.sports_list .play_time ul li h6 a:active{text-decoration:underline; color:#333;}
.sports_list .play_time ul li.tip{ width:215px; text-align:center;}
.sports_list .play_time ul li.tip img{ width:auto; height:auto; border:0; margin:28px 0 0 0;}
.sports_list .play_time ul li.clear{ width:auto; clear:both; height:1px; float:none; font-size:1px; overflow:hidden;}

.sports_hot_pic{ width:730px; height:290px; background:url(../images/zh-tc/sports/sports_des_pic.jpg) no-repeat; overflow:hidden; margin:10px 0 0 0;}
.sports_hot_pic a{ display:block; width:125px; height:40px; float:right; clear:both; margin:115px 46px 0 0!important; margin:115px 23px 0 0; line-height:200px; overflow:hidden;}
.sports_hot_pic object{ float:right; clear:right; margin:10px 80px 0 0!important; margin:10px 40px 0 0;}