<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>13:00</td>
    <td>女子78公斤以上級小組預賽；<br />
      男子100公斤以上級小組預賽；<br />
      女子78公斤以下級小組預賽；<br />
      男子100公斤以下級小組預賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-13</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子78公斤以上級復活賽決賽；<br />
      女子78公斤以上級半決賽；<br />
      男子100公斤以上級復活賽決賽；<br />
      男子100公斤以上級半決賽；<br />
      女子78公斤以下級復活賽決賽；<br />
      女子78公斤以下級半決賽；<br />
      男子100公斤以下級復活賽決賽；<br />
      男子100公斤以下級半決賽；<br />
      女子78公斤以上級銅牌決賽；<br />
      男子100公斤以上級銅牌決賽；<br />
      女子78公斤以下級銅牌決賽；<br />
      男子100公斤以下級銅牌決賽；<br />
      女子78公斤以上級冠亞軍決賽；<br />
      男子100公斤以上級冠亞軍決賽；<br />
      女子78公斤以上級頒獎儀式；<br />
      女子78公斤以下級冠亞軍決賽；<br />
      男子100公斤以上級頒獎儀式；<br />
      男子100公斤以下級冠亞軍決賽；<br />
      女子78公斤以下級頒獎儀式；<br />
      男子100公斤以下級頒獎儀式</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>13:00</td>
    <td>女子70公斤以下級小組預賽；<br />
      男子90公斤以下級小組預賽；<br />
      女子63公斤以下級小組預賽；<br />
      男子81公斤以下級小組預賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-14</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子70公斤以下級復活賽決賽；<br />
      女子70公斤以下級半決賽；<br />
      男子90公斤以下級復活賽決賽；<br />
      男子90公斤以下級半決賽；<br />
      女子63公斤以下級復活賽決賽；<br />
      女子63公斤以下級半決賽；<br />
      男子81公斤以下級復活賽決賽；<br />
      男子81公斤以下級半決賽；<br />
      女子70公斤以下級銅牌決賽；<br />
      男子90公斤以下級銅牌決賽；<br />
      女子63公斤以下級銅牌決賽；<br />
      男子81公斤以下級銅牌決賽；<br />
      女子70公斤以下級冠亞軍決賽；<br />
      男子90公斤以下級冠亞軍決賽；<br />
      女子70公斤以下級頒獎儀式；<br />
      女子63公斤以下級冠亞軍決賽；<br />
      男子90公斤以下級頒獎儀式；<br />
      男子81公斤以下級冠亞軍決賽；<br />
      女子63公斤以下級頒獎儀式；<br />
      男子81公斤以下級頒獎儀式</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>13:00</td>
    <td>女子57公斤以下級小組預賽；<br />
      男子73公斤以下級小組預賽；<br />
      女子52公斤以下級小組預賽；<br />
      男子66公斤以下級小組預賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-15</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子57公斤以下級復活賽決賽；<br />
      女子57公斤以下級半決賽；<br />
      男子73公斤以下級復活賽決賽；<br />
      男子73公斤以下級半決賽；<br />
      女子52公斤以下級復活賽決賽；<br />
      女子52公斤以下級半決賽；<br />
      男子66公斤以下級復活賽決賽；<br />
      男子66公斤以下級半決賽；<br />
      女子57公斤以下級銅牌決賽；<br />
      男子73公斤以下級銅牌決賽；<br />
      女子52公斤以下級銅牌決賽；<br />
      男子66公斤以下級銅牌決賽；<br />
      女子57公斤以下級冠亞軍決賽；<br />
      男子73公斤以下級冠亞軍決賽；<br />
      女子57公斤以下級頒獎儀式；<br />
      女子52公斤以下級冠亞軍決賽；<br />
      男子73公斤以下級頒獎儀式；<br />
      男子66公斤以下級冠亞軍決賽；<br />
      女子52公斤以下級頒獎儀式；<br />
      男子66公斤以下級頒獎儀式</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>13:00</td>
    <td>女子無差別級小組預賽；<br />
      男子無差別級小組預賽；<br />
      女子48公斤以下級小組預賽；<br />
      男子60公斤以下級小組預賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>柔道</td>
    <td>2010-11-16</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子無差別級復活賽決賽；<br />
      女子無差別級級半決賽；<br />
      男子無差別級復活賽決賽；<br />
      男子無差別級半決賽；<br />
      女子48公斤以下級復活賽決賽；<br />
      女子48公斤以下級半決賽；<br />
      男子60公斤以下級復活賽決賽；<br />
      男子60公斤以下級半決賽；<br />
      女子無差別級銅牌決賽；<br />
      男子無差別級銅牌決賽；<br />
      女子48公斤以下級銅牌決賽；<br />
      男子60公斤以下級銅牌決賽；<br />
      女子無差別級冠亞軍決賽；<br />
      男子無差別級冠亞軍決賽；<br />
      女子無差別級頒獎儀式；<br />
      女子48公斤以下級冠亞軍決賽；<br />
      男子無差別級頒獎儀式；<br />
      男子60公斤以下級冠亞軍決賽；<br />
      女子48公斤以下級頒獎儀式；<br />
      男子60公斤以下級頒獎儀式</td>
    <td>華工體育館</td>
  </tr>
</table>
