<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子60公斤級預賽；<br />
      男子81公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-16</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子46-49公斤級預賽；<br />
      男子52公斤級預賽；<br />
      男子75公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子64公斤級預賽；<br />
      男子91公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子56公斤級預賽；<br />
      男子69公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-18</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子46-49公斤級預賽；<br />
      男子69公斤級預賽；<br />
      男子91公斤以上級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-18</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子52公斤級預賽；<br />
      男子75公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-19</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子56公斤級預賽；<br />
      男子81公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-19</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子46-49公斤級預賽；<br />
      男子60公斤級預賽；<br />
      男子91公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-20</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤級預賽；<br />
      女子56-60公斤級預賽；<br />
      女子69-75公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-20</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子52公斤級預賽；<br />
      男子64公斤級預賽；<br />
      男子91公斤以上級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-21</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤級預賽；<br />
      女子56-60公斤級預賽；<br />
      女子69-75公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-21</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子56公斤級預賽；<br />
      男子64公斤級預賽；<br />
      男子75公斤級預賽；<br />
      男子91公斤級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-22</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤級預賽；<br />
      女子56-60公斤級預賽；<br />
      女子69-75公斤級預賽；</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子60公斤級預賽；<br />
      男子69公斤級預賽；<br />
      男子81公斤級預賽；<br />
      男子91公斤以上級預賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤級半決賽；<br />
      男子52公斤級半決賽；<br />
      男子56公斤級半決賽；<br />
      男子64公斤級半決賽；<br />
      男子75公斤級半決賽；<br />
      男子91公斤級半決賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-24</td>
    <td>19:00</td>
    <td>22:30</td>
    <td>女子56-60公斤級半決賽；<br />
      女子69-75公斤級半決賽；<br />
      男子46-49公斤級半決賽；<br />
      男子60公斤級半決賽；<br />
      男子69公斤級半決賽；<br />
      男子81公斤級半決賽；<br />
      男子91公斤以上級半決賽</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-25</td>
    <td>19:00</td>
    <td>21:55</td>
    <td>女子48-51公斤級決賽；<br />
      女子48-51公斤級頒獎儀式；<br />
      男子52公斤級決賽；<br />
      男子52公斤級頒獎儀式；<br />
      男子56公斤級決賽；<br />
      男子56公斤級頒獎儀式；<br />
      男子64公斤級決賽；<br />
      男子64公斤級頒獎儀式；<br />
      男子75公斤級決賽；<br />
      男子75公斤級頒獎儀式；<br />
      男子91公斤級決賽；<br />
      男子91公斤級頒獎儀式</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
  <tr>
    <td>拳擊</td>
    <td>2010-11-26</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>女子56-60公斤級決賽；<br />
      女子56-60公斤級頒獎儀式；<br />
      女子69-75公斤級決賽；<br />
      女子69-75公斤級頒獎儀式；<br />
      男子46-49公斤級決賽；<br />
      男子46-49公斤級頒獎儀式；<br />
      男子60公斤級決賽；<br />
      男子60公斤級頒獎儀式；<br />
      男子69公斤級決賽；<br />
      男子69公斤級頒獎儀式；<br />
      男子81公斤級決賽；<br />
      男子81公斤級頒獎儀式；<br />
      男子91公斤以上級決賽；<br />
      男子91公斤以上級頒獎儀式</td>
    <td>佛山嶺南明珠體育館</td>
  </tr>
</table>
