<table cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="270" />
  <col width="237" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-14</td>
    <td>12:00</td>
    <td>17:30</td>
    <td>競賽日1</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-15</td>
    <td>12:00</td>
    <td>17:30</td>
    <td>競賽日2</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-16</td>
    <td>12:00</td>
    <td>17:30</td>
    <td>競賽日3</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-17</td>
    <td>12:00</td>
    <td>17:30</td>
    <td>競賽日4</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-19</td>
    <td>12:00</td>
    <td>17:30</td>
    <td>競賽日6</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-20</td>
    <td>12:00</td>
    <td>17:30</td>
    <td>競賽日7（6枚金牌）</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
  <tr>
    <td>帆船</td>
    <td>2010-11-21</td>
    <td>12:00</td>
    <td>15:00</td>
    <td>競賽日8（8枚金牌），頒獎儀式</td>
    <td>廣東海上項目訓練中心（汕尾）</td>
  </tr>
</table>
