<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>鐵人三項</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>12:45</td>
    <td>女子個人賽；<br />
      女子個人賽頒獎儀式</td>
    <td>大學城鐵人三項場</td>
  </tr>
  <tr>
    <td>鐵人三項</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>12:35</td>
    <td>男子個人賽；<br />
      男子個人賽頒獎儀式</td>
    <td>大學城鐵人三項場</td>
  </tr>
</table>
