<table border="0" cellpadding="2" cellspacing="1" >
		  <col width="100" />
		  <col width="88" />
		  <col width="44" span="2" />
		  <col width="304" />
		  <col width="203" />
		  <tr>
		    <th>項目</th>
		    <th>日期</th>
		    <th>開始<br />
		      時間</th>
		    <th >結束<br />
		      時間 </th>
		    <th>場次描述 </th>
		    <th>場館</th>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-21</td>
	      <td> 08:00</td>
	      <td>10:45</td>
	      <td>男子20公里競走決賽</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-21</td>
	      <td> 17:00</td>
	      <td>20:25</td>
	      <td>女子100米預賽；<br />
	        男子鏈球決賽；<br />
	        女子跳遠及格賽；<br />
	        女子鉛球決賽；<br />
	        男子100米預賽；<br />
	        男子20公里競走頒獎儀；<br />
	        式女子10000米決賽；<br />
	        女子400米預賽；<br />
	        女子鉛球頒獎儀式；<br />
	        男子400米預賽；<br />
	        女子10000米頒獎儀式；<br />
	        男子5000米決賽；<br />
	        男子鏈球頒獎儀式；<br />
	        女子3000米障礙決賽；<br />
	        男子5000米頒獎儀式；<br />
	        女子3000米障礙頒獎儀式</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-22</td>
	      <td>09:00</td>
	      <td>11:30</td>
	      <td>女子七項全能1/7　100米欄；<br />
	        男子跳遠及格賽；<br />
	        男子1500米預賽；<br />
	        女子七項全能2/7跳高；<br />
	        女子1500米預賽；<br />
	        男子400米復賽；<br />
	        女子400米復賽</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-22</td>
	      <td>17:00</td>
	      <td>19:55</td>
	      <td>男子撐竿跳高決賽；<br />
	        女子七項全能3/7     鉛球；<br />
	        女子鏈球決賽；<br />
	        女子100米復賽；<br />
	        男子100米復賽；<br />
	        女子400米決賽；<br />
	        男子400米決賽；<br />
	        ；女子400米頒獎儀式；<br />
	        男子110米欄預賽；<br />
	        男子400米頒獎儀式；<br />
	        女子七項全能4/7     200米；<br />
	        女子鏈球頒獎儀式；<br />
	        女子100米決賽；<br />
	        男子撐竿跳高頒獎儀式；<br />
	        男子100米決賽；<br />
	        女子100米頒獎儀式；<br />
	        男子100米頒獎儀式</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-23</td>
	      <td>09:00</td>
	      <td> 11:10</td>
	      <td>女子七項全能5/7  跳遠；<br />
	        女子20公里競走決賽；<br />
	        女子七項全能6/7     標槍</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-23</td>
	      <td>17:00</td>
	      <td> 20:05</td>
	      <td>男子跳高決賽；<br />
	        女子七項全能7/7     800米；<br />
	        女子跳遠決賽；<br />
	        女子鐵餅決賽；　<br />
	        女子20公里競走頒獎儀式；<br />
	        女子1500米決賽；<br />
	        男子1500米決賽；<br />
	        女子七項全能頒獎儀式；<br />
	        女子4X100米接力預賽；<br />
	        女子1500米頒獎儀式；<br />
	        男子4X100米接力預賽；<br />
	        男子1500米頒獎儀式；<br />
	        男子3000米障礙決賽；女子跳遠頒獎儀式；男子4X400米接力預賽；<br />
	        女子鐵餅頒獎儀式；<br />
	        男子3000米障礙頒獎儀式；<br />
	        女子4X400米接力預賽；<br />
	        男子跳高頒獎儀式</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-24</td>
	      <td>09:00</td>
	      <td>11:40</td>
	      <td>男子十項全能1/10  100米；<br />
	        女子400米欄預賽；<br />
	        男子十項全能2/10     跳遠；<br />
	        男子400米欄預賽</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-24</td>
	      <td>17:00</td>
	      <td>20:10</td>
	      <td>女子撐竿跳高決賽；<br />
	        男子十項全能4/10     跳高；<br />
	        女子100米欄預賽；<br />
	        男子鐵餅決賽；<br />
	        男子跳遠決賽；<br />
	        女子200米預賽；<br />
	        男子200米預賽；<br />
	        女子800米預賽；<br />
	        男子800米預賽；<br />
	        男子鐵餅頒獎儀式；<br />
	        男子十項全能5/10     400米；<br />
	        男子跳遠頒獎儀式；<br />
	        男子110米欄決賽；<br />
	        女子撐竿跳高頒獎儀式；<br />
	        男子110米欄頒獎儀式</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-25</td>
	      <td>07:30</td>
	      <td>13:30</td>
	      <td>男子50公里競走決賽；<br />
	        男子十項全能6/10 110米欄；<br />
	        男子三級跳遠及格賽；<br />
	        女子200米復賽；<br />
	        男子十項全能7/10 鐵餅；<br />
	        男子200米復賽；<br />
	        男子十項全能 8/10 撐竿跳高</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-25</td>
	      <td>17:00</td>
	      <td>20:05</td>
	      <td>男子十項全能9/10    標槍；<br />
	        女子100米欄決賽；<br />
	        女子三級跳遠決賽；<br />
	        男子50公里競走頒獎儀式；<br />
	        女子800米決賽；<br />
	        女子100米欄頒獎儀式；<br />
	        男子800米決賽；<br />
	        女子800米頒獎儀式；<br />
	        女子200米決賽；<br />
	        男子800米頒獎儀式；<br />
	        男子200米決賽；<br />
	        女子標槍決賽；<br />
	        女子200米頒獎儀式；<br />
	        男子200米頒獎儀式；<br />
	        女子400米欄決賽；<br />
	        女子三級跳遠頒獎儀式；<br />
	        男子400米欄決賽；<br />
	        女子400米欄頒獎儀式；<br />
	        男子十項全能10/10 1500米；<br />
	        男子400米欄頒獎儀式；<br />
	        男子十項全能頒獎儀式；<br />
	        女子標槍頒獎儀式</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-26</td>
	      <td>17:00</td>
	      <td>20:45</td>
	      <td>女子跳高決賽；<br />
	        男子標槍決賽；<br />
	        男子三級跳遠決賽；<br />
	        女子5000米決賽；<br />
	        女子4X100米接力決賽；<br />
	        女子5000米頒獎儀式；<br />
	        男子4X100米接力決賽；<br />
	        女子4X100米頒獎儀式；<br />
	        男子10000米決賽；<br />
	        男子4X100米頒獎儀式；<br />
	        男子鉛球決賽；<br />
	        男子標槍頒獎儀式；<br />
	        女子4X400米接力決賽；<br />
	        男子三級跳遠頒獎儀式；<br />
	        女子跳高頒獎儀式；<br />
	        男子10000米頒獎儀式；<br />
	        男子4X400米接力決賽；<br />
	        女子4X400米接力頒獎儀式；<br />
	        男子4X400米接力頒獎儀式；<br />
	        男子鉛球頒獎儀式</td>
	      <td>奧體中心場</td>
	      </tr>
	    <tr>
	      <td>田徑</td>
	      <td>2010-11-27</td>
	      <td> 08:30</td>
	      <td>14:40</td>
	      <td>女子馬拉松決賽；<br />
	        女子馬拉松頒獎儀式；<br />
	        男子馬拉松決賽；<br />
	        男子馬拉松頒獎儀式</td>
	      <td>大學城鐵人三項場</td>
	      </tr>
	    </table>
