<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="347" />
  <col width="160" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-14</td>
    <td>12:00</td>
    <td>17:00</td>
    <td>盛裝舞步團體賽暨個人賽資格賽、團體賽頒獎</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-15</td>
    <td> 13:00</td>
    <td>17:00</td>
    <td>盛裝舞步個人賽預賽</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-17</td>
    <td>13:00</td>
    <td>17:00</td>
    <td>盛裝舞步個人賽決賽、個人賽頒獎</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-18</td>
    <td>12:00</td>
    <td>17:00</td>
    <td>三項賽盛裝舞步賽</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>三項賽越野賽</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-20</td>
    <td>13:00</td>
    <td> 17:00</td>
    <td>三項賽場地障礙賽、三項賽頒獎（團體及個人）</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-22</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>場地障礙賽團體賽第一輪</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-22</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>場地障礙賽團體賽第二輪及團體賽頒獎</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-24</td>
    <td> 09:00</td>
    <td>11:00</td>
    <td>地障礙賽個人決賽第一輪</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
  <tr>
    <td> 馬術</td>
    <td>2010-11-24</td>
    <td> 14:00</td>
    <td>17:00</td>
    <td>場地障礙賽個人決賽第二輪、個人賽頒獎</td>
    <td>廣州馬術場 主賽場</td>
  </tr>
</table>
