<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - A1 vs A4  第01場；<br />
      男子預賽 - B1 vs B4  第02場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - C1 vs C4     第03場；<br />
      男子預賽 - D1 vs D4  第04場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - A2 vs A6  第05場；<br />
      男子預賽 - B2 vs B6  第06場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - C2 vs C6     第07場；<br />
      男子預賽 - D2 vs D6  第08場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - A3 vs A5  第09場；<br />
      男子預賽 - B3 vs B5  第10場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - C3 vs C5     第11場；<br />
      男子預賽 - D3 vs D5  第12場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - A4 vs A2  第13場；<br />
      男子預賽 - B4 vs B2  第14場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - C4 vs C2     第15場；<br />
      男子預賽 - D4 vs D2  第16場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - A5 vs A1  第17場；<br />
      男子預賽 - B5 vs B1  第18場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - C5 vs C1     第19場；<br />
      男子預賽 - D5 vs D1  第20場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - A6 vs A3  第21場；<br />
      男子預賽 - B6 vs B3  第22場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - C6 vs C3     第23場；<br />
      男子預賽 - D6 vs D3  第24場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - A1 vs A6  第25場；<br />
      男子預賽 - B1 vs B6  第26場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - C1 vs C6     第27場；<br />
      男子預賽 - D1 vs D6  第28場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - A2 vs A3  第29場；<br />
      男子預賽 - B2 vs B3  第30場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - C2 vs C3     第31場；<br />
      男子預賽 - D2 vs D3  第32場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - A4 vs A5  第33場；<br />
      男子預賽 - B4 vs B5  第34場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - C4 vs C5     第35場；<br />
      男子預賽 - D4 vs D5  第36場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - A2 vs A5  第37場；<br />
      男子預賽 - B2 vs B5  第38場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - C2 vs C5     第39場；<br />
      男子預賽 - D2 vs D5  第40場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - A3 vs A1  第41場；<br />
      男子預賽 - B3 vs B1  第42場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - C3 vs C1     第43場；<br />
      男子預賽 - D3 vs D1  第44場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - A6 vs A4  第45場；<br />
      男子預賽 - B6 vs B4  第46場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - C6 vs C4     第47場；<br />
      男子預賽 - D6 vs D4  第48場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - A5 vs A6  第49場；<br />
      男子預賽 - B5 vs B6  第50場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子預賽 - C5 vs C6     第51場；<br />
      男子預賽 - D5 vs D6  第52場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - A3 vs A4  第53場；<br />
      男子預賽 - B3 vs B4  第54場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子預賽 - C3 vs C4     第55場；<br />
      男子預賽 - D3 vs D4  第56場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - A1 vs A2  第57場；<br />
      男子預賽 - B1 vs B2  第58場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子預賽 - C1 vs C2     第59場；<br />
      男子預賽 - D1 vs D2  第60場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-18</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小組賽 - A1 vs A4  第01場；<br />
      女子小組賽 - B1 vs B4  第02場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-18</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小組賽 - A2 vs A6     第03場；<br />
      女子小組賽 - B2 vs B6  第04場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-18</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小組賽 - A3 vs A5  第05場；<br />
      女子小組賽 - B3 vs B5  第06場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小組賽 - A4 vs A2     第07場；<br />
      女子小組賽 - B4 vs B2  第08場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子小組賽 第1組  第61場；<br />
      男子小組賽 第2組  第62場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小組賽 - A6 vs A3     第09場；<br />
      女子小組賽 - B6 vs B3  第10場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子小組賽 第1組  第63場；<br />
      男子小組賽 第2組  第64場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小組賽 - A5 vs A1     第11場；<br />
      女子小組賽 - B5 vs B1  第12場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小組賽 - A1 vs A6  第13場；<br />
      女子小組賽 - B1 vs B6  第14場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子小組賽 第1組     第65場；<br />
      男子小組賽 第2組  第66場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小組賽 - A2 vs A3  第15場；<br />
      女子小組賽 - B2 vs B3  第16場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子小組賽 第1組     第67場；<br />
      男子小組賽 第2組  第68場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小組賽 - A4 vs A5  第17場；<br />
      女子小組賽 - B4 vs B5  第18場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-21</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子小組賽 第1組     第69場；<br />
      男子小組賽 第2組  第70場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-21</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子小組賽 第1組  第71場；<br />
      男子小組賽 第2組  第72場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小組賽 - A2 vs A5     第19場；<br />
      女子小組賽 - B2 vs B5  第20場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子排位賽  第73場；<br />
      男子排位賽  第74場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小組賽 - A3 vs A1     第21場；<br />
      女子小組賽 - B3 vs B1  第22場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子排位賽  第75場；<br />
      男子排位賽  第76場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小組賽 - A6 vs A4     第23場；<br />
      女子小組賽 - B6 vs B4  第24場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小組賽 - A5 vs A6  第25場；<br />
      女子小組賽 - B5 vs B6  第26場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子9-16排位賽     第77場；<br />
      男子9-16排位賽  第78場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小組賽 - A3 vs A4  第27場；<br />
      女子小組賽 - B3 vs B4  第28場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子9-16排位賽     第79場；<br />
      男子9-16排位賽  第80場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小組賽 - A1 vs A2  第29場；<br />
      女子小組賽 - B1 vs B2  第30場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-24</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子5-8名排位賽  第81場 ；<br />
      男子5-8名排位賽  第82場 </td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-24</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子半決賽 第83場；<br />
      男子半決賽 第84場</td>
    <td>華師體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-25</td>
    <td>9:00</td>
    <td>13:15</td>
    <td>女子5-12名排位賽     第31場；<br />
      女子5-12名排位賽  第32場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-25</td>
    <td>14:00</td>
    <td>18:15</td>
    <td>女子5-12名排位賽  第33場；<br />
      女子5-12名排位賽  第34場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-25</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子5-12名排位賽     第35場；<br />
      女子5-12名排位賽  第36場</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-26</td>
    <td>12:00</td>
    <td>16:50</td>
    <td>女子3-4名決賽 第37場；<br />
      女子決賽 第38場；<br />
      女子頒獎儀式</td>
    <td>廣工體育館</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-26</td>
    <td>18:00</td>
    <td>22:50</td>
    <td>男子3-4名決賽 第85場；<br />
      男子決賽 第86場；<br />
      男子頒獎儀式</td>
    <td>華師體育館</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-13</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-14</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-15</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-16</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-17</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比賽(頒獎）</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子小組賽第一輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-19</td>
    <td>14:30</td>
    <td>17:10</td>
    <td>男子小組賽第一輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-19</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子小組賽第一輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-20</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子小組賽第二輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-20</td>
    <td>14:30</td>
    <td>17:10</td>
    <td>男子小組賽第二輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-20</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子小組賽第二輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子小組賽第三輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-21</td>
    <td>14:30</td>
    <td>17:10</td>
    <td>男子小組賽第三輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-21</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子小組賽第三輪</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-22</td>
    <td> 14:30</td>
    <td>17:10</td>
    <td>男子1/4決賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-22</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子1/4決賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-23</td>
    <td> 14:30</td>
    <td>17:10</td>
    <td>男子5-8名排位賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-23</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子1/2決賽（1-4名）</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-25</td>
    <td> 14:30</td>
    <td>17:10</td>
    <td>男子7-8名，5-6名決賽</td>
    <td>天河游泳館</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-25</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子3-4名，1-2名決賽（頒獎）</td>
    <td>天河游泳館</td>
  </tr>
</table>
