<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-13</td>
    <td>09:00</td>
    <td>15:30</td>
    <td>女子10米氣步槍資格賽；<br />
      男子50米手槍資格賽；<br />
      男子10米氣步槍資格賽；<br />
      女子10米氣步槍決賽；<br />
      男子10米氣步槍決賽；<br />
      男子50米手槍決賽</td>
    <td>奧體射擊館</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>男子50米步槍臥射淘汰賽(第1階段）；<br />
      男子50米步槍臥射淘汰賽（第2階段）；<br />
      男子10米氣手槍資格賽；<br />
      女子10米氣手槍資格賽；<br />
      男子10米氣手槍決賽；<br />
      女子10米氣手槍決賽</td>
    <td>奧體射擊館</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-15</td>
    <td>09:00</td>
    <td>16:45</td>
    <td>男子50米步槍臥射淘汰賽；<br />
      男子25米手槍速射資格賽 (第1階段)；<br />
      男子25米手槍速射資格賽 (第2階段)；<br />
      女子10米移動靶比賽 (第1階段)；<br />
      女子10米移動靶比賽 (第2階段)；<br />
      女子50米步槍臥射比賽；<br />
      男子50米步槍臥射決賽；<br />
      男子25米手槍速射決賽</td>
    <td>奧體射擊館</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-16</td>
    <td>09:00</td>
    <td>15:00</td>
    <td>男子10米移動靶比賽(第1階段)；<br />
      女子25米手槍資格賽；<br />
      男子10米移動靶比賽(第2階段)；<br />
      女子25米手槍決賽</td>
    <td>奧體射擊館</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>13:00</td>
    <td>男子25米標準手槍比賽；<br />
      男子10米移動靶混合速比賽；<br />
      女子50米步槍三種姿勢資格賽；<br />
      女子50米步槍三種姿勢決賽</td>
    <td>奧體射擊館</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>男子50米步槍三種姿勢資格賽；<br />
      男子25米中心發火手槍比賽；<br />
      男子50米步槍三種姿勢決賽</td>
    <td>奧體射擊館</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>13:30</td>
    <td>男子飛碟多向資格賽第1天</td>
    <td>廣州飛碟中心</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>女子飛碟多向資格賽；<br />
      男子飛碟多向資格賽第2天；<br />
      男子飛碟多向決賽；<br />
      女子飛碟多向決賽</td>
    <td>廣州飛碟中心</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td>14:00</td>
    <td>男子飛碟雙多向資格賽；<br />
      女子飛碟雙多向決賽；<br />
      男子飛碟雙多向決賽</td>
    <td>廣州飛碟中心</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td>15:30</td>
    <td>男子飛碟雙向資格賽第1天；<br />
      女子飛碟雙向資格賽；<br />
      女子飛碟雙向決賽</td>
    <td>廣州飛碟中心</td>
  </tr>
  <tr>
    <td>射擊</td>
    <td>2010-11-24</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>男子飛碟雙向資格賽第2天；<br />
      男子飛碟雙向決賽</td>
    <td>廣州飛碟中心</td>
  </tr>
</table>
