<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>輪滑</td>
    <td>2010-11-23</td>
    <td>9:00</td>
    <td>11:00</td>
    <td>速度輪滑女子300米個人計時賽；<br />
      速度輪滑男子300米個人計時賽；<br />
      頒獎儀式</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>輪滑</td>
    <td>2010-11-23</td>
    <td>15:00</td>
    <td>17:00</td>
    <td>速度輪滑女子500米計時預賽、半決賽、決賽；<br />
      速度輪滑男子500米計時預賽、半決賽、決賽；<br />
      頒獎儀式</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>輪滑</td>
    <td>2010-11-24</td>
    <td>9:00</td>
    <td>10:30</td>
    <td>速度輪滑女子10000米積分淘汰賽；<br />
      速度輪滑男子10000米積分淘汰賽；<br />
      頒獎儀式</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>輪滑</td>
    <td>2010-11-25</td>
    <td>14:00</td>
    <td>16:50</td>
    <td>花樣輪滑女子短節目；<br />
      花樣輪滑雙人滑短節目；<br />
      花樣輪滑男子短節目</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>輪滑</td>
    <td>2010-11-26</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>花樣輪滑女子長節目；<br />
      花樣輪滑雙人滑長節目；<br />
      花樣輪滑男子長節目；<br />
      頒獎儀式</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
</table>
