<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-15</td>
    <td>09:00</td>
    <td>16:30</td>
    <td>男子個人賽第一組；<br />
      男子個人賽第二組</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-16</td>
    <td>09:00</td>
    <td>17:30</td>
    <td>女子個人賽第一組；<br />
      女子個人賽第二組；<br />
      個人賽頒獎儀式</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>16:30</td>
    <td>男子雙人賽第一組；<br />
      男子雙人賽第二組；</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>17:30</td>
    <td>女子雙人賽第一組；女子雙人賽第二組；雙人賽頒獎儀式</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>  24:10</td>
    <td>男子三人賽第一組第一場；<br />
      男子三人賽第二組第一場；<br />
      女子三人賽第一組第一場；<br />
      女子三人賽第二組第一場</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-20</td>
    <td>09:00</td>
    <td>  24:10</td>
    <td>男子三人賽第一組第二場；<br />
      男子三人賽第二組第二場；<br />
      女子三人賽第一組第二場；<br />
      女子三人賽第二組第二場</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td>19:30</td>
    <td>男子五人隊際賽第一場；<br />
      三人賽頒獎儀式；<br />
      女子五人隊際賽第一場</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-22</td>
    <td>09:00</td>
    <td>19:30</td>
    <td>女子五人隊際賽第二場；<br />
      男子五人隊際賽第二場；<br />
      五人隊際賽頒獎儀式；<br />
      全能賽頒獎儀式</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td>15:30</td>
    <td>男子精英賽第一場；<br />
      女子精英賽第一場</td>
    <td>天河保齡球館</td>
  </tr>
  <tr>
    <td>保齡球</td>
    <td>2010-11-24</td>
    <td>09:00</td>
    <td>20:30</td>
    <td>女子精英賽第二場；<br />
      男子精英賽第二場；<br />
      梯級挑戰賽；<br />
      精英賽頒獎儀式</td>
    <td>天河保齡球館</td>
  </tr>
</table>
