<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-13</td>
    <td>9:00</td>
    <td>17:00</td>
    <td>女子團體第一輪；<br />
      男子團體第一輪；<br />
      女子團體第二輪；<br />
      男子團體第二輪；<br />
      女子團體第三輪；<br />
      男子團體第三輪；<br />
      女子團體四分之一決賽；<br />
      男子團體四分之一決賽</td>
    <td>天河網球學校</td>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-14</td>
    <td>9:00</td>
    <td>19:00</td>
    <td>女子團體半決賽；<br />
      男子團體半決賽；<br />
      女子團體決賽；<br />
      男子團體決賽；<br />
      女子團體、男子團體頒獎儀式</td>
    <td>天河網球學校</td>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-15</td>
    <td>9:00</td>
    <td>17:00</td>
    <td>混合雙打第一輪；<br />
      混合雙打第二輪；<br />
      混合雙打第三輪；<br />
      混合雙打四分之一決賽；<br />
      混合雙打半決賽；<br />
      混合雙打決賽；<br />
      混合雙打頒獎儀式</td>
    <td>天河網球學校</td>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-16</td>
    <td>9:30</td>
    <td>16:00</td>
    <td>女子單打小組賽；<br />
      男子單打小組賽；<br />
      女子單打四分之一決賽；<br />
      男子單打四分之一決賽</td>
    <td>天河網球學校</td>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-17</td>
    <td> 09:30</td>
    <td>17:00</td>
    <td>女子單打半決賽；<br />
      男子單打半決賽；<br />
      女子單打決賽；<br />
      男子單打決賽；<br />
      女子單打、男子單打頒獎儀式</td>
    <td>天河網球學校</td>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-18</td>
    <td>9:30</td>
    <td>16:00</td>
    <td>女子雙打小組賽；<br />
      男子雙打小組賽；<br />
      女子雙打四分之一決賽；<br />
      男子雙打四分之一決賽</td>
    <td>天河網球學校</td>
  </tr>
  <tr>
    <td>軟式網球</td>
    <td>2010-11-19</td>
    <td>9:30</td>
    <td>17:00</td>
    <td>女子雙打半決賽；<br />
      男子雙打半決賽；<br />
      女子雙打決賽；<br />
      男子雙打決賽；<br />
      女子雙打、男子雙打頒獎儀式</td>
    <td>天河網球學校</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>男子團體第一輪；<br />
      女子團體第一輪</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>男子團體1/4決賽；<br />
      女子團體1/4決賽</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>男子團體半決賽；<br />
      女子團體半決賽</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>男子團體決賽；<br />
      男子團體頒獎儀式；<br />
      女子團體決賽；<br />
      女子團體頒獎儀式</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>女子單打第一輪；<br />
      男子單打第一輪；<br />
      女子雙打第一輪；<br />
      男子雙打第一輪</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>女子單打第一輪；<br />
      男子單打第一輪；<br />
      混合雙打第一輪</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>女子單打第二輪；<br />
      男子單打第二輪；<br />
      女子雙打第二輪；<br />
      男子雙打第二輪；<br />
      混合雙打第二輪</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>女子單打1/4決賽；<br />
      男子單打第三輪；<br />
      女子雙打1/4決賽；<br />
      男子雙打1/4決賽；<br />
      混合雙打1/4決賽</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>××:××</td>
    <td>女子單打半決賽；<br />
      男子單打1/4決賽；<br />
      女子雙打半決賽；<br />
      男子雙打半決賽；<br />
      混合雙打半決賽</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-22</td>
    <td>11:00</td>
    <td>××:××</td>
    <td>女子雙打決賽；<br />
      女子雙打頒獎儀式；<br />
      男子雙打決賽；<br />
      男子雙打頒獎儀式；<br />
      混合雙打決賽；<br />
      混合雙打頒獎儀式；<br />
      男子單打半決賽</td>
    <td>奧體網球中心</td>
  </tr>
  <tr>
    <td>網球</td>
    <td>2010-11-23</td>
    <td>13:00</td>
    <td>××:××</td>
    <td>女子單打決賽；<br />
      女子單打頒獎儀式；<br />
      男子單打決賽；<br />
      男子單打頒獎儀式</td>
    <td>奧體網球中心</td>
  </tr>
</table>
