<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-13</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子長拳、女子南刀</td>
    <td>南沙體育館 A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-13</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>女子南拳</td>
    <td>南沙體育館    A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-13</td>
    <td>19:30</td>
    <td>21:30</td>
    <td>散手預賽</td>
    <td>南沙體育館 B場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-14</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子刀術、女子劍術</td>
    <td>南沙體育館    A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-14</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男子棍術、女子槍術</td>
    <td>南沙體育館 A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-14</td>
    <td>19:30</td>
    <td>21:30</td>
    <td>散手預賽</td>
    <td>南沙體育館    B場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-15</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子南拳、女子太極劍</td>
    <td>南沙體育館 A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-15</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男子南棍、女子太極拳</td>
    <td>南沙體育館    A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-15</td>
    <td>19:30</td>
    <td>21:30</td>
    <td>散手預賽</td>
    <td>南沙體育館 B場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-16</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子太極劍、女子長拳</td>
    <td>南沙體育館    A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-16</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男子太極拳</td>
    <td>南沙體育館 A場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-16</td>
    <td>19:30</td>
    <td>21:30</td>
    <td>散手預賽</td>
    <td>南沙體育館    B場地</td>
  </tr>
  <tr>
    <td>武術</td>
    <td>2010-11-17</td>
    <td>19:30</td>
    <td>22:30</td>
    <td>散手決賽</td>
    <td>南沙體育館 B場地</td>
  </tr>
</table>
