<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-13</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子56公斤級B組；<br />
      女子48公斤級B組；<br />
      男子56公斤級A組；<br />
      男子56公斤級頒獎；<br />
      女子48公斤級A組；<br />
      女子48公斤級頒獎</td>
    <td>東莞體育館</td>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-14</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子62公斤級B組；<br />
      女子53公斤級B組；<br />
      男子62公斤級A組；<br />
      男子62公斤級頒獎；<br />
      女子53公斤級A組；<br />
      女子53公斤級頒獎</td>
    <td>東莞體育館</td>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-15</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子69公斤級B組；<br />
      女子58公斤級B組；<br />
      男子69公斤級A組；<br />
      男子69公斤級頒獎；<br />
      女子58公斤級A組；<br />
      女子58公斤級頒獎</td>
    <td>東莞體育館</td>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-16</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子77公斤級B組；<br />
      女子63公斤級B組；<br />
      男子77公斤級A組；<br />
      男子77公斤級頒獎；<br />
      女子63公斤級A組；<br />
      女子63公斤級頒獎</td>
    <td>東莞體育館</td>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-17</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子85公斤級B組；<br />
      女子69公斤級B組；<br />
      男子85公斤級A組；<br />
      男子85公斤級頒獎；<br />
      女子69公斤級A組；<br />
      女子69公斤級頒獎</td>
    <td>東莞體育館</td>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-18</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子94公斤級B組；<br />
      女子75公斤級B組；<br />
      男子94公斤級A組；<br />
      男子94公斤級頒獎；<br />
      女子75公斤級A組；<br />
      女子75公斤級頒獎</td>
    <td>東莞體育館</td>
  </tr>
  <tr>
    <td>舉重</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>21:00</td>
    <td>男子105公斤級B組；<br />
      女子75公斤以上級B組；<br />
      男子105公斤以上級B組；<br />
      男子105公斤級A組；<br />
      男子105公斤級頒獎；<br />
      女子75公斤以上級A組；<br />
      女子75公斤以上級頒獎；<br />
      男子105公斤以上級A組；<br />
      男子105公斤以上級頒獎</td>
    <td>東莞體育館</td>
  </tr>
</table>
