<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-18</td>
    <td> 09:00</td>
    <td>16:00</td>
    <td>女子個人佩劍小組賽、淘汰賽；男子個人重劍小組賽、淘汰賽</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-18</td>
    <td> 18:00</td>
    <td> 20:30</td>
    <td>女子個人佩劍半決賽；<br />
      男子個人重劍半決賽；<br />
      女子個人佩劍決賽；<br />
      男子個人重劍決賽頒獎</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-19</td>
    <td> 09:00</td>
    <td>16:00</td>
    <td>男子個人佩劍小組賽、淘汰賽；女子個人花劍小組賽、淘汰賽</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-19</td>
    <td>18:00</td>
    <td>20:30</td>
    <td>男子個人佩劍半決賽；<br />
      女子個人花劍半決賽；<br />
      男子個人佩劍決賽；<br />
      女子個人花劍決賽頒獎</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-20</td>
    <td>09:00</td>
    <td> 16:00</td>
    <td>男子個人花劍小組賽、淘汰賽；<br />
      女子個人重劍小組賽、淘汰賽</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-20</td>
    <td>18:00</td>
    <td>21:10</td>
    <td>男子個人花劍半決賽；<br />
      女子個人重劍半決賽；<br />
      男子個人花劍決賽；<br />
      女子個人重劍決賽；<br />
      頒獎</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td> 17:00</td>
    <td>女子團體佩劍淘汰賽；<br />
      男子團體重劍淘汰賽</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-21</td>
    <td>18:00</td>
    <td>20:10</td>
    <td>女子團體佩劍決賽；<br />
      男子團體重劍決賽；<br />
      頒獎</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-22</td>
    <td>09:00</td>
    <td>17:00</td>
    <td>男子團體佩劍淘汰賽；<br />
      女子團體花劍淘汰賽</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-22</td>
    <td>18:00</td>
    <td>20:10</td>
    <td>男子團體佩劍決賽；<br />
      女子團體花劍決賽；<br />
      頒獎</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td> 17:00</td>
    <td>男子團體花劍淘汰賽；<br />
      女子團體重劍淘汰賽</td>
    <td>廣大體育館</td>
  </tr>
  <tr>
    <td>擊劍</td>
    <td>2010-11-23</td>
    <td>18:00</td>
    <td>20:10</td>
    <td>男子團體花劍決賽；<br />
      女子團體重劍決賽；<br />
      頒獎</td>
    <td>廣大體育館</td>
  </tr>
</table>
