<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>體操</td>
    <td>2010-11-13</td>
    <td>9:30</td>
    <td>21:45</td>
    <td>男子資格賽及團體決賽；<br />
      男子資格賽及團體決賽；<br />
      男子資格賽及團體決賽；<br />
      男子團體頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>體操</td>
    <td>2010-11-14</td>
    <td>9:30</td>
    <td>21:45</td>
    <td>女子資格賽及團體決賽；<br />
      女子資格賽及團體決賽；<br />
      女子資格賽及團體決賽；<br />
      女子團體頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>體操</td>
    <td>2010-11-15</td>
    <td> 15:30</td>
    <td> 21:45</td>
    <td>男子全能決賽；<br />
      男子全能決賽頒獎儀式；<br />
      女子全能決賽；<br />
      女子全能決賽頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>體操</td>
    <td>2010-11-16</td>
    <td>19:30</td>
    <td>22:00</td>
    <td>單項決賽：     男子：自由體操；<br />
      男子：自由體操 頒獎儀式；<br />
      男子：鞍馬、女子：跳馬；<br />
      男子：鞍馬、女子：跳馬 頒獎儀式；<br />
      男子：吊環、女子：高低杠；<br />
      男子：吊環、女子：高低杠 頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>體操</td>
    <td>2010-11-17</td>
    <td>19:30</td>
    <td>22:00</td>
    <td>單項決賽：  男子：跳馬、女子：平衡木；<br />
      男子：跳馬、女子：平衡木 頒獎儀式；<br />
      男子：雙杠、女子：自由體操；<br />
      男子：雙杠、女子：自由體操 頒獎儀式；<br />
      男子：單杠；<br />
      男子：單杠 頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>蹦床</td>
    <td>2010-11-21</td>
    <td>11:00</td>
    <td>××:××</td>
    <td>女子個人資格賽第一輪；<br />
      女子個人資格賽第二輪；<br />
      男子個人資格賽第一輪；<br />
      男子個人資格賽第二輪</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>蹦床</td>
    <td>2010-11-22</td>
    <td>16:00</td>
    <td>××:××</td>
    <td>女子個人決賽；<br />
      男子個人決賽；<br />
      女子個人頒獎儀式；<br />
      男子個人頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>藝術體操</td>
    <td>2010-11-25</td>
    <td>9:00</td>
    <td>13:00</td>
    <td>個人全能預賽和團體決賽</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>藝術體操</td>
    <td>2010-11-25</td>
    <td> 15:00</td>
    <td>19:30</td>
    <td>個人全能預賽和團體決賽；<br />
      團體決賽頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
  <tr>
    <td>藝術體操</td>
    <td>2010-11-26</td>
    <td>9:00</td>
    <td>13:00</td>
    <td>個人全能決賽（13-24名）；<br />
      個人全能決賽（1-12名；<br />
      個人全能頒獎儀式</td>
    <td>亞運城體育館</td>
  </tr>
</table>
