<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="354" />
  <col width="153" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-21</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>男子古典式55、60、66公斤級資格賽；<br />
      男子古典式55、60、66公斤級淘汰賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-21</td>
    <td>16:00</td>
    <td>19:45</td>
    <td>男子古典式55、60、66公斤級復活賽；<br />
      男子古典式55、60、67公斤級決賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-22</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>男子古典式74、84、96公斤級資格賽；<br />
      男子古典式74、84、96公斤級淘汰賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-22</td>
    <td>16:00</td>
    <td>19:45</td>
    <td>男子古典式74、84、96公斤級復活賽；<br />
      男子古典式74、84、96公斤級決賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-23</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>男子古典式120、自由式55、60公斤級資格賽；<br />
      男子古典式120、自由式55、60公斤級淘汰賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-23</td>
    <td>16:00</td>
    <td>19:45</td>
    <td>男子古典式120、自由式55、60公斤級復活賽；<br />
      男子古典式120、自由式55、60公斤級決賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-24</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>男子自由式66、74、84公斤級資格賽；<br />
      男子自由式66、74、84公斤級淘汰賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-24</td>
    <td>16:00</td>
    <td>19:45</td>
    <td>男子自由式66、74、84公斤級復活賽；<br />
      男子自由式66、74、84公斤級決賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-25</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>男子自由式96、120、女子48公斤級資格賽；<br />
      男子自由式96、120、女子48公斤級淘汰賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-25</td>
    <td>16:00</td>
    <td>19:45</td>
    <td>男子自由式96、120、女子48公斤級復活賽；<br />
      男子自由式96、120、女子48公斤級決賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-26</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>女子自由式55、63、72公斤級資格賽；<br />
      女子自由式55、63、72公斤級淘汰賽</td>
    <td>華工體育館</td>
  </tr>
  <tr>
    <td>摔跤</td>
    <td>2010-11-26</td>
    <td>16:00</td>
    <td>19:45</td>
    <td>女子自由式55、63、72公斤級復活賽；<br />
      女子自由式55、63、72公斤級決賽</td>
    <td>華工體育館</td>
  </tr>
</table>
