<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-22</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子A組第一輪 第1場；<br />
      女子A組第一輪 第1場；<br />
      男子B組第一輪 第1場；<br />
      女子B組第一輪 第1場；<br />
      男子A組第一輪 第2場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-22</td>
    <td>14:30</td>
    <td>18:30</td>
    <td>男子B組第一輪 第2場；<br />
      女子A組第一輪 第2場；<br />
      男子A組第一輪 第3場；<br />
      女子B組第一輪 第2場；<br />
      男子A組第二輪 第1場；<br />
      男子B組第二輪 第1場；<br />
      女子A組第二輪 第1場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-23</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子A組第二輪 第2場；<br />
      女子A組第二輪 第2場；<br />
      男子B組第二輪 第2場；<br />
      女子B組第二輪 第1場；<br />
      男子A組第二輪 第3場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-23</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男子A組第三輪 第1場；<br />
      女子B組第二輪 第2場；<br />
      男子B組第三輪 第1場；<br />
      女子A組第三輪 第1場；<br />
      男子A組第三輪 第2場；<br />
      女子B組第三輪 第1場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-24</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子B組第三輪 第2場；<br />
      女子A組第三輪 第2場；<br />
      男子A組第三輪 第3場；<br />
      女子B組第三輪 第2場；<br />
      男子A組第四輪 第1場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-24</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男子B組第四輪 第1場；<br />
      女子A組第四輪 第1場；<br />
      男子A組第四輪 第2場；<br />
      女子B組第四輪 第1場；<br />
      男子B組第四輪 第2場；<br />
      女子A組第四輪 第2場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-25</td>
    <td>8:30</td>
    <td>11:30</td>
    <td>男子A組第四輪 第3場；<br />
      女子A組第五輪 第1場；<br />
      男子A組第五輪 第1場；<br />
      女子B組第四輪 第2場；<br />
      男子B組第五輪 第1場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-25</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男子A組第五輪 第2場；<br />
      女子B組第五輪 第1場；<br />
      男子B組第五輪 第2場；<br />
      女子A組第五輪 第2場；<br />
      男子A組第五輪 第3場；<br />
      女子B組第五輪 第2場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-26</td>
    <td>8:30</td>
    <td>10:30</td>
    <td>男子半決賽 第1場；<br />
      女子半決賽 第1場；<br />
      男子半決賽 第2場；<br />
      女子半決賽 第2場</td>
    <td>南沙體育館</td>
  </tr>
  <tr>
    <td>卡巴迪</td>
    <td>2010-11-26</td>
    <td>15:30</td>
    <td>18:00</td>
    <td>女子冠、亞軍決賽；<br />
      男子冠、亞軍決賽；<br />
      頒獎儀式</td>
    <td>南沙體育館</td>
  </tr>
</table>
