<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>場地自行車</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td >17:00</td>
    <td>男子團體競速賽資格賽；<br />
      女子500米計時賽決賽；<br />
      女子500米計時賽頒獎儀式；<br />
      男子個人追逐賽資格賽；<br />
      女子個人追逐賽資格；<br />
      男子團體競速賽第一輪</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>場地自行車</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>18:00</td>
    <td>男子團體競速賽決賽；<br />
      男子團體競速賽頒獎儀式；<br />
      男子個人追逐賽第一輪；<br />
      女子個人追逐賽第一輪；<br />
      男子爭先賽資格賽；<br />
      女子爭先賽資格賽；<br />
      男子爭先賽1/16賽；<br />
      女子爭先賽1/16賽；<br />
      男子個人追逐賽決賽；<br />
      女子個人追逐賽決賽；<br />
      男子個人追逐賽頒獎儀式；<br />
      女子個人追逐賽頒獎儀式；<br />
      男子爭先賽1/8賽；<br />
      女子爭先賽1/8賽；<br />
      男子爭先賽1/8賽；<br />
      復活賽女子爭先賽1/8賽復活賽</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>場地自行車</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td> 17:00</td>
    <td>男子團體追逐賽資格賽；<br />
      男子爭先賽男子1/4賽第一輪；<br />
      女子爭先賽女子1/4賽第一輪；<br />
      女子記分賽資格賽；<br />
      男子爭先賽1/4賽第二輪；<br />
      女子爭先賽1/4賽第二輪<br />
      男子團體追逐賽第一輪；<br />
      男子爭先賽1/4賽第三輪；<br />
      女子爭先賽1/4賽第三輪</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>場地自行車</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>17:00</td>
    <td>男子團體追逐賽決賽；<br />
      男子團體追逐賽頒獎儀式；<br />
      男子爭先賽1/2賽第一輪；<br />
      女子爭先賽1/2賽第一輪；<br />
      女子記分賽決賽女子記分賽頒獎儀式；<br />
      男子爭先賽1/2賽第二輪；<br />
      女子爭先賽1/2賽第二輪；<br />
      男子記分賽資格賽；<br />
      男子凱琳賽第一輪；<br />
      男子凱琳賽第一輪復活賽；<br />
      男子爭先賽1/2賽；<br />
      第三輪女子爭先賽1/2賽第三輪；男子凱琳賽第二輪</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
  <tr>
    <td>場地自行車</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>13:00</td>
    <td>男子爭先賽決賽第一輪；<br />
      女子爭先賽決賽第一輪；<br />
      男子記分賽決賽；<br />
      男子記分賽頒獎儀式；<br />
      男子凱琳賽決賽；<br />
      男子凱琳賽頒獎儀式；<br />
      男子爭先賽決賽第二輪；<br />
      女子爭先賽決賽第二輪；<br />
      男子爭先賽5-8名；<br />
      女子爭先賽5-8名；<br />
      男子爭先賽決賽第三輪；<br />
      女子爭先賽決賽第三輪；<br />
      男子爭先賽頒獎儀式女子爭先賽頒獎儀式</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>公路自行車</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td> 15:00</td>
    <td>男子公路個人計時賽決賽；<br />
      男子公路個人計時賽頒獎儀式；<br />
      女子公路個人計時賽決賽；<br />
      女子公路個人計時賽頒獎儀式</td>
    <td>大學城鐵人三項場</td>
  </tr>
  <tr>
    <td>公路自行車</td>
    <td>2010-11-22</td>
    <td>09:00</td>
    <td>14:00</td>
    <td>男子公路個人賽；<br />
      男子公路個人賽頒獎儀式</td>
    <td>大學城鐵人三項場</td>
  </tr>
  <tr>
    <td>公路自行車</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td>12:30</td>
    <td>男子公路個人賽；<br />
      男子公路個人賽頒獎儀式</td>
    <td>大學城鐵人三項場</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>山地自行車</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td > 16:15</td>
    <td >女子山地車越野賽決賽；<br />
      女子山地車越野賽頒獎儀式；<br />
      男子山地車越野賽決賽；<br />
      男子山地車越野賽頒獎儀式</td>
    <td>大夫山自行車場</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>小輪車</td>
    <td>2010-11-19</td>
    <td>10:30</td>
    <td>14:20</td>
    <td>女子BMX第一輪；<br />
      男子BMX第一輪；<br />
      女子BMX第二輪；<br />
      男子BMX第二輪；<br />
      女子BMX第三輪；<br />
      男子BMX第三輪；<br />
      女子BMX1/4決賽；<br />
      男子BMX1/4決賽；<br />
      女子BMX半決賽；<br />
      男子BMX半決賽；<br />
      女子BMX決賽；<br />
      男子BMX決賽；<br />
      女子BMX頒獎儀式；<br />
      男子BMX頒獎儀式</td>
    <td>廣州自行車輪滑中心</td>
  </tr>
</table>
