<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-13</td>
    <td>8:30</td>
    <td>12:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-13</td>
    <td>8:30</td>
    <td>12:30</td>
    <td>女子預賽-A組；<br />
      女子預賽-B組</td>
    <td>奧體曲棍球場2號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-13</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>女子預賽-A組；<br />
      女子預賽-B組</td>
    <td>奧體曲棍球場2號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-13</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-13</td>
    <td>18:30</td>
    <td>22:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>女子預賽-A組；<br />
      女子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-14</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>女子預賽-A組；<br />
      女子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-15</td>
    <td>8:30</td>
    <td>12:00</td>
    <td>男子預賽-B組；<br />
      男子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>男子預賽-B組；<br />
      男子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-15</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>女子預賽-B組；<br />
      女子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-16</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>女子預賽-B組；<br />
      女子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-17</td>
    <td>8:30</td>
    <td>12:00</td>
    <td>男子預賽-A組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-17</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>男子預賽-B組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-18</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>女子預賽-A組；<br />
      女子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-18</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>女子預賽-A組；<br />
      女子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-19</td>
    <td>8:30</td>
    <td>12:00</td>
    <td>男子預賽-A組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-19</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-19</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>男子預賽-B組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-20</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>女子預賽-B組；<br />
      女子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-20</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>女子預賽-B組；<br />
      女子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-21</td>
    <td>8:30</td>
    <td>12:00</td>
    <td>男子預賽-B組；<br />
      男子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-21</td>
    <td>14:00</td>
    <td>17:30</td>
    <td>男子預賽-B組；<br />
      男子預賽-B組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-21</td>
    <td>18:00</td>
    <td>21:30</td>
    <td>男子預賽-A組；<br />
      男子預賽-A組</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-22</td>
    <td>8:30</td>
    <td>13:00</td>
    <td>女子9－10名次賽（A組第5—B組第5）；<br />
      女子5—8名（A組第3—B組第4</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-22</td>
    <td>14:30</td>
    <td>21:30</td>
    <td>女子5—8名（B組第3—A組第4）；<br />
      女子半決賽（A組第1—B組第2）；<br />
      女子半決賽（B組第1—A組第2）</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-23</td>
    <td>8:30</td>
    <td>13:00</td>
    <td>男子9-12名（A組第5—B組第6）；<br />
      男子9-12名（B組第5—A組第6）</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-23</td>
    <td>9:00</td>
    <td>13:30</td>
    <td>男子5-8名（A組第3—B組第4）；<br />
      男子5-8名（B組第3—A組第4）</td>
    <td>奧體曲棍球場2號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-23</td>
    <td>16:00</td>
    <td>20:30</td>
    <td>男子半決賽（A組第1—B組第2）；<br />
      男子半決賽（B組第1—A組第2）</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-24</td>
    <td>8:30</td>
    <td>13:00</td>
    <td>女子7-8名次賽；<br />
      女子5-6名次賽</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-24</td>
    <td>15:00</td>
    <td>21:00</td>
    <td>女子3-4名決賽；<br />
      女子決賽；<br />
      女子頒獎儀式</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-25</td>
    <td>8:30</td>
    <td>13:00</td>
    <td>男子11-12名次賽；<br />
      男子9-10名次賽</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-25</td>
    <td>9:00</td>
    <td>14:00</td>
    <td>男子7-8名次賽；<br />
      男子5-6名次賽</td>
    <td>奧體曲棍球場2號場</td>
  </tr>
  <tr>
    <td>曲棍球</td>
    <td>2010-11-25</td>
    <td>15:00</td>
    <td>21:00</td>
    <td>男子3-4名決賽；<br />
      男子決賽；<br />
      男子頒獎儀式</td>
    <td>奧體曲棍球場1號場</td>
  </tr>
</table>
