<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽A組 第01場；<br />
      男子預賽C組 第02場；<br />
      男子預賽A組 第03場；<br />
      男子預賽C組 第04場；<br />
      男子預賽A組 第05場；<br />
      男子預賽C組 第06場；</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽B組 第07場；<br />
      男子預賽D組 第08場；<br />
      男子預賽B組 第09場；<br />
      男子預賽D組 第10場；<br />
      男子預賽B組 第11場；<br />
      男子預賽D組 第12場；</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽A組 第13場；<br />
      男子預賽C組 第14場；<br />
      男子預賽A組 第15場；<br />
      男子預賽C組 第16場；<br />
      男子預賽A組 第17場；<br />
      男子預賽C組 第18場；</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽B組 第19場；<br />
      男子預賽D組 第20場；<br />
      男子預賽B組 第21場；<br />
      男子預賽D組 第22場；<br />
      男子預賽B組 第23場；<br />
      男子預賽D組 第24場；</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽A組 第25場；<br />
      男子預賽C組 第26場；<br />
      男子預賽A組 第27場；<br />
      男子預賽C組 第28場；<br />
      男子預賽A組 第29場；<br />
      男子預賽C組 第30場；</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽B組 第31場；<br />
      男子預賽D組 第32場；<br />
      男子預賽B組 第33場；<br />
      男子預賽D組 第34場；<br />
      男子預賽B組 第35場；<br />
      男子預賽D組 第36場；</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽A組 第37場；<br />
      男子預賽C組 第38場；<br />
      男子預賽A組 第39場；<br />
      男子預賽C組 第40場；<br />
      男子預賽A組 第41場；<br />
      男子預賽C組 第42場；</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽B組 第43場；<br />
      男子預賽D組 第44場；<br />
      男子預賽B組 第45場；<br />
      男子預賽D組 第46場；<br />
      男子預賽B組 第47場；<br />
      男子預賽D組 第48場；</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽A組 第49場；<br />
      男子預賽C組 第50場；<br />
      男子預賽A組 第51場；<br />
      男子預賽C組 第52場；<br />
      男子預賽A組 第53場；<br />
      男子預賽C組 第54場；</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子預賽B組 第55場；<br />
      男子預賽D組 第56場；<br />
      男子預賽B組 第57場；<br />
      男子預賽D組 第58場；<br />
      男子預賽B組 第59場；<br />
      男子預賽D組 第60場；</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子預賽A組 第01場；<br />
      女子預賽B組 第02場；<br />
      女子預賽A組 第03場；<br />
      女子預賽B組 第04場；<br />
      女子預賽A組 第05場；<br />
      女子預賽B組 第06場；</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子G組 A5-C6 第61場；<br />
      男子G組 A6-C5 第62場；<br />
      男子E組 A1-C4 第63場；<br />
      男子E組 A2-C3 第64場；<br />
      男子E組 A3-C2 第65場；<br />
      男子E組 A4-C1 第66場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子H組 B5-D6 第67場；<br />
      男子H組 B6-D5 第68場；<br />
      男子F組 B1-D4 第69場；<br />
      男子F組 B2-D3 第70場；<br />
      男子F組 B3-D2 第71場；<br />
      男子F組 B4-D1 第72場</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子預賽A組 第07場；<br />
      女子預賽B組 第08場；<br />
      女子預賽A組 第09場；<br />
      女子預賽B組 第10場；<br />
      女子預賽A組 第11場；<br />
      女子預賽B組 第12場；</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子G組 A5-C5 第73場；<br />
      男子G組 A6-C6 第74場；<br />
      男子E組 (A1-C4)負 - (A3-C2)負 第75場；<br />
      男子E組 (A2-C3)負 - (A4-C1)負 第76場；<br />
      男子E組 (A1-C4)勝 - (A3-C2)勝 第77場；<br />
      男子E組 (A2-C3)勝 - (A4-C1)勝 第78場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子H組 B5-D5 第79場；<br />
      男子H組 B6-D6 第80場；<br />
      男子F組 (B1-D4)負    - (B3-D2)負 第81場；<br />
      男子F組 (B2-D3)負    - (B4-D1)負 第82場；<br />
      男子F組 (B1-D4)勝    - (B3-D2)勝 第83場；<br />
      男子F組 (B2-D3)勝    - (B4-D1)勝 第84場</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子預賽A組 第13場；<br />
      女子預賽B組 第14場；<br />
      女子預賽A組 第15場；<br />
      女子預賽B組 第16場；<br />
      女子預賽A組 第17場；<br />
      女子預賽B組 第18場；</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 G1-H2 第85場；<br />
      男子 G2-H1 第86場；<br />
      男子 (A1C4負-A3C2負)負 - (A2C3負-A4C1負)負:E7,E8 第87場；<br />
      男子 (A1C4負-A3C2負)勝 - (A2C3負-A4C1負)勝:E5,E6 第88場；<br />
      男子 (A1C4勝-A3C2勝)負 - (A2C3勝-A4C1勝)負:E3,E4 第89場；<br />
      男子 (A1C4勝-A3C2勝)勝 - (A2C3勝-A4C1勝)勝:E1,E2 第90場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 G3-H4 第91場；<br />
      男子 G4-H3 第92場；<br />
      男子 (B1D4負-B3D2負)負 - (B2D3負-B4D1負)負:F7,F8 第93場；<br />
      男子 (B1D4負-B3D2負)勝 - (B2D3負-B4D1負)勝:F5,F6 第94場；<br />
      男子 (B1D4勝-B3D2勝)負 - (B2D3勝-B4D1勝)負:F3,F4 第95場；<br />
      男子 (B1D4勝-B3D2勝)勝 - (B2D3勝-B4D1勝)勝:F1,F2 第96場</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子預賽A組 第19場；<br />
      女子預賽B組 第20場；<br />
      女子預賽A組 第21場；<br />
      女子預賽B組 第22場；<br />
      女子預賽A組 第23場；<br />
      女子預賽B組 第24場；</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-22</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子預賽A組 第25場；<br />
      女子預賽B組 第26場；<br />
      女子預賽A組 第27場；<br />
      女子預賽B組 第28場；<br />
      女子預賽A組 第29場；<br />
      女子預賽B組 第30場；</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-23</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 (G3-H4)負- (G4-H3)負: 第23名,    第24名 第97場；<br />
      男子(G3-H4)勝- (G4-H3)勝:第21名, 第22名 第98場；<br />
      男子 E5-F8 第99場；<br />
      男子 E6-F7 第100場；<br />
      男子 E7-F6 第101場；<br />
      男子 E8-F5 第102場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-23</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 (G1-H2)負- (G2-H1)負:第19名, 第20名 第103場；<br />
      男子 (G1-H2)勝- (G2-H1)勝:第17名, 第18名 第104場；<br />
      男子 E1-F4 第105場；<br />
      男子 E2-F3 第106場；<br />
      男子 E3-F2 第107場；<br />
      男子 E4-F1 第108場</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>22:00</td>
    <td>男子 (E5-F8)負- (E7-F6)負:第13-16名    第109場；<br />
      男子 (E6-F7)負-(E8-F5)負:第13-16名 第110場；<br />
      男子 (E5-F8)勝-(E7-F6)勝:第9-12名 第111場；<br />
      男子(E6-F7)勝-(E8-F5)勝:第9-12名 第112場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>22:00</td>
    <td>男子(E1-F4)負-(E3-F2)負:第5-8名 第113場；<br />
      男子(E2-F3)負-(E4-F1)負:第5-8名 第114場；<br />
      男子(E1-F4)勝-(E3-F2)勝:第1-4名 第115場；<br />
      男子(E2-F3)勝-(E4-F1)勝:第1-4名 第116場</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-24</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子A5-B6 第31場；<br />
      女子A6-B5 第32場；<br />
      女子A1-B4 第33場；<br />
      女子A2-B3 第34場</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-25</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子A5-B5: 第9-12名 第37場；<br />
      女子A6-B6: 第9-12名 第38場；<br />
      女子(A1-B4)負-(A2-B3)負 第39場；<br />
      女子(A3-B2)負-(A4-B1)負 第40場；<br />
      女子(A1-B4)勝-(A2-B3)勝 第41場；<br />
      女子(A3-B2)勝-(A4-B1)勝 第42場</td>
    <td>廣藥體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-26</td>
    <td>14:00</td>
    <td>22:00</td>
    <td>男子 第109場負-第110場負:第15名,第16名    第117場；<br />
      男子 第109 勝-第110場勝:第13名,第14名 第118場；<br />
      男子 第111場負-第112場負:第11名,第12名 第119場；<br />
      男子第111場勝-第112場勝:第9名,第10名 第120場</td>
    <td>中大體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-26</td>
    <td>18:00</td>
    <td>22:00</td>
    <td>男子 第113場負-第114場負:第7名,第8名 第121場；<br />
      男子 第113場勝-第114場勝:第5名,第6名 第122場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-26</td>
    <td>19:00</td>
    <td>23:00</td>
    <td>男子 第115場負-第116場負:銅牌,第四    第123場；<br />
      男子 第115場勝-第116場勝:金牌,銀牌 第124場</td>
    <td>廣州體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-27</td>
    <td>10:00</td>
    <td>14:30</td>
    <td>女子    (A1B4負-A2B3負)負-(A3B2負-A4B1負)負:第7名,第8名 第43場；<br />
      女子 (A1B4負-A2B3負)勝-(A3B2負-A4B1負)勝:第5名,第6名 第44場</td>
    <td>廣外體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-27</td>
    <td>10:00</td>
    <td>12:00</td>
    <td>女子 (A1B4勝-A2B3勝)負-(A3B2勝-A4B1勝)負:銅牌,第四 第45場</td>
    <td>廣州體育館</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-27</td>
    <td>14:00</td>
    <td>16:00</td>
    <td>女子 (A1B4勝-A2B3勝) 勝-勝 (A3B2勝-A4B1勝):金牌,銀牌 第46場</td>
    <td>廣州體育館</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-15</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-16</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-17</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-18</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>14:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-19</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>男子預賽；女子預賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>14:00</td>
    <td>女子前16名復賽；<br />
      男子前16名復賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-20</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>女子前16名復賽；<br />
      男子前16名復賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>14:00</td>
    <td>女子1/4決賽；<br />
      男子1/4決賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-21</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>女子1/4決賽；<br />
      男子1/4決賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-22</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>女子半決賽；<br />
      男子半決賽</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-23</td>
    <td>19:00</td>
    <td>21:30</td>
    <td>女子3-4名決賽；<br />
      女子決賽；<br />
      女子頒獎儀式</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
  <tr>
    <td>沙灘排球</td>
    <td>2010-11-24</td>
    <td>19:00</td>
    <td>21:30</td>
    <td>男子3-4名決賽；<br />
      男子決賽；<br />
      男子頒獎儀式</td>
    <td>亞運城沙排場比賽場地或熱身場地A</td>
  </tr>
</table>
