<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>高爾夫球</td>
    <td>2010-11-17</td>
    <td>07:00</td>
    <td>17:30</td>
    <td>第1輪比賽</td>
    <td>九龍湖高爾夫球會</td>
  </tr>
  <tr>
    <td>高爾夫球</td>
    <td>2010-11-18</td>
    <td>07:00</td>
    <td>17:30</td>
    <td>第2輪比賽</td>
    <td>九龍湖高爾夫球會</td>
  </tr>
  <tr>
    <td>高爾夫球</td>
    <td>2010-11-19</td>
    <td>07:00</td>
    <td>17:30</td>
    <td>第3輪比賽</td>
    <td>九龍湖高爾夫球會</td>
  </tr>
  <tr>
    <td>高爾夫球</td>
    <td>2010-11-20</td>
    <td>07:00</td>
    <td>17:30</td>
    <td>第4輪比賽；<br />
      頒獎儀式</td>
    <td>九龍湖高爾夫球會</td>
  </tr>
</table>
