<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>預賽 第01場 A1 vs A4</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>預賽 第02場 B1 vs B4</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>預賽 第03場 A2 vs A3</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>預賽 第04場 B2 vs B3</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>預賽 第05場 A4 vs A2</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>預賽 第06場 B3 vs B1</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>預賽 第07場 B4 vs B2</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>預賽 第08場 A3 vs A1</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>預賽 第09場 B2 vs B1</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>預賽 第10場 A2 vs A1</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>預賽 第11場 B3 vs B4</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>預賽 第12場 A3 vs A4</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>交叉賽  A組第3 vs B組第4（C）</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>交叉賽  A組第1 vs B組第2（D）</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>交叉賽  B組第3 vs A組第4    （E）</td>
    <td>奧體棒球場2號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>交叉賽  B組第1 vs A組第2 （F）</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-18</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>決7-8名 （C負vs E負）</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-18</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>決5-6名 （C勝vs E勝）</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-19</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>3-4名決賽 （D負vs F負）</td>
    <td>奧體棒球場1號場</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-19</td>
    <td> 18:00</td>
    <td>21:40</td>
    <td>決賽 （D勝vs F勝）</td>
    <td>奧體棒球場1號場</td>
  </tr>
</table>
