<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>空手道</td>
    <td>2010-11-24</td>
    <td>9:30</td>
    <td>19:00</td>
    <td>男子個人型　淘汰賽至復活半決賽 1號場地；<br />
      女子個人型　淘汰賽至復活半決賽 3號場地；<br />
      男子、女子個人型　決賽 2號場地；<br />
      頒獎儀式男子組手55公斤以下級　淘汰賽至復活半決賽 1號場地；<br />
      男子組手84公斤以上級　淘汰賽至復活半決賽 2號場地；<br />
      女子組手50公斤以下級　淘汰賽至復活半決賽 3號場地；<br />
      男子組手55公斤以下級  84公斤以上級  女子組手50公斤以下級     決賽  2號場地；<br />
      頒獎儀式；<br /></td>
    <td>廣東體育館</td>
  </tr>
  <tr>
    <td>空手道</td>
    <td>2010-11-25</td>
    <td>9:30</td>
    <td>19:00</td>
    <td>男子組手60公斤以下級　淘汰賽至復活半決賽    1號場地；<br />
      女子組手68公斤以上級　淘汰賽至復活半決賽 3號場地；<br />
      男子組手60公斤以下級   女子組手68公斤以上級  決賽     2號場地；<br />
      頒獎儀式男子組手67公斤以下級　淘汰賽至復活半決賽 1號場地；<br />
      女子組手55公斤以下級　淘汰賽至復活半決賽 3號場地；<br />
      男子組手67公斤以下級   女子組手55公斤以下級  決賽     2號場地；<br />
      頒獎儀式</td>
    <td>廣東體育館</td>
  </tr>
  <tr>
    <td>空手道</td>
    <td>2010-11-26</td>
    <td>9:30</td>
    <td>19:00</td>
    <td>男子組手75公斤以下級　淘汰賽至復活半決賽 1號場地；<br />
      女子組手68公斤以下級　淘汰賽至復活半決賽 3號場地；<br />
      男子組手75公斤以下級   女子組手68公斤以下級  決賽     2號場地；<br />
      頒獎儀式；<br />
      男子組手84公斤以下級　淘汰賽至復活半決賽 1號場地；<br />
      女子組手61公斤以下級　淘汰賽至復活半決賽 3號場地；<br />
      男子組手84公斤以下級   女子組手61公斤以下級  決賽     2號場地；<br />
      頒獎儀式</td>
    <td>廣東體育館</td>
  </tr>
</table>
