<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-7</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子資格預選賽OA2-OA3</td>
    <td width="203">省體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-7</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子資格預選賽OB2-OB3</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-7</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OC2-OC3；<br />
      男子資格預選賽OD2-OD3</td>
    <td width="203">番禺體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-7</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OE2-OE3</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-7</td>
    <td>15:30</td>
    <td>17:30</td>
    <td width="258">男子資格預選賽OF2-OF3</td>
    <td width="203">華工體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-9</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OA3-OA1</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-9</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子資格預選賽OB3-OB1</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-9</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OC3-OC1；<br />
      男子資格預選賽OD3-OD1</td>
    <td width="203">番禺體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-9</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子資格預選賽OE3-OE1</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-9</td>
    <td>15:30</td>
    <td>17:30</td>
    <td width="258">男子資格預選賽OF3-OF1</td>
    <td width="203">華工體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-11</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子資格預選賽OA1-OA2 </td>
    <td width="203">省體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-11</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OB1-OB2</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-11</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OC1-OC2；<br />
      男子資格預選賽OD1-OD2</td>
    <td width="203">番禺體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-11</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子資格預選賽OF1-OF2</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-11</td>
    <td>15:30</td>
    <td>17:30</td>
    <td width="258">男子資格預選賽OE1-OE2</td>
    <td width="203">華工體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-13</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽B1-B4；<br />
      男子小組賽B2-B3</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-13</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽D1-D4；<br />
      男子小組賽D2-D3</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-13</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽F1-F4；<br />
      男子小組賽F2-F3</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-14</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽A1-A4；<br />
      男子小組賽A2-A3</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-14</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">女子小組賽J1-J4；<br />
      女子小組賽J2-J3</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-14</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">女子小組賽L1-L4；<br />
      女子小組賽L2-L3</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-14</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽C1-C4；<br />
      男子小組賽C2-C3</td>
    <td width="203">省體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-14</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽E1-E4；<br />
      男子小組賽E2-E3</td>
    <td width="203">花都體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-14</td>
    <td>12:30</td>
    <td>17:30</td>
    <td width="258">女子小組賽K1-K4；<br />
      女子小組賽K2-K3</td>
    <td width="203">華工體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-15</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽B1-B3；<br />
      男子小組賽B4-B2</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-15</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽D1-D3；<br />
      男子小組賽D4-D2</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-15</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽F1-F3；<br />
      男子小組賽F4-F2</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-16</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽A1-A3；<br />
      男子小組賽A4-A2</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-16</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">女子小組賽J1-J3；<br />
      女子小組賽J4-J2</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-16</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">女子小組賽L1-L3；<br />
      女子小組賽L4-L2</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-16</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽C1-C3；<br />
      男子小組賽C4-C2</td>
    <td width="203">省體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-16</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽E1-E3l；<br />
      男子小組賽E4-E2</td>
    <td width="203">花都體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-16</td>
    <td>12:30</td>
    <td>17:30</td>
    <td width="258">女子小組賽K1-K3；<br />
      女子小組賽K4-K2</td>
    <td width="203">華工體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-17</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽B3-B4；<br />
      男子小組賽D3-D4</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-17</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽B1-B2；<br />
      男子小組賽D1-D2</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-17</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子小組賽F3-F4</td>
    <td width="203">花都體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽F1-F2</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-18</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽A1-A2；<br />
      男子小組賽C1-C2</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-18</td>
    <td>12:30</td>
    <td>17:30</td>
    <td width="258">女子小組賽J1-J2；<br />
      女子小組賽K1-K2</td>
    <td width="203">大學城中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-18</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">女子小組賽L1-L2；<br />
      女子小組賽E1-E2</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-18</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽L3-L4；<br />
      男子小組賽E3-E4</td>
    <td width="203">花都體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-18</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子小組賽A3-A4；<br />
      男子小組賽C3-C4</td>
    <td width="203">省體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-18</td>
    <td>12:30</td>
    <td>17:30</td>
    <td width="258">女子小組賽J3-J4；<br />
      女子小組賽K3-K4</td>
    <td width="203">華工體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-20</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">女子1/4 決賽</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-20</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">女子1/4 決賽</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-20</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">女子1/4 決賽；<br />
      女子1/4 決賽</td>
    <td width="203">黃埔體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-21</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子1/4 決賽</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-21</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子1/4 決賽；<br />
      男子1/4 決賽</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-21</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子1/4 決賽</td>
    <td width="203">黃埔中心體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">女子1/2決賽</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-22</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">女子1/2決賽</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-23</td>
    <td>19:00</td>
    <td>21:00</td>
    <td width="258">男子1/2決賽</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-23</td>
    <td>16:00</td>
    <td>18:00</td>
    <td width="258">男子1/2決賽</td>
    <td width="203">越秀山體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-24</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258"> 女子三、四名決賽；<br />
      女子決賽</td>
    <td width="203">天河體育場</td>
  </tr>
  <tr>
    <td>足球</td>
    <td>2010-11-25</td>
    <td>16:00</td>
    <td>21:00</td>
    <td width="258">男子三、四名決賽；<br />
      男子決賽</td>
    <td width="203">天河體育場</td>
  </tr>
</table>
