<table border="0" cellpadding="2" cellspacing="1" >
  <col width="140" />
  <col width="88" />
  <col width="40" span="2" />
  <col width="264" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>皮划艇/激流迴旋</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子單人划艇預賽第一輪；<br />
      男子單人皮艇預賽第一輪；<br />
      男子單人划艇預賽第二輪；<br />
      男子單人皮艇預賽第二輪</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/激流迴旋</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子單人划艇半決賽；<br />
      男子單人皮艇半決賽；<br />
      男子單人划艇決賽；<br />
      男子單人皮艇決賽；<br />
      男子單人划艇頒獎；<br />
      男子單人皮艇頒獎</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/激流迴旋</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子雙人划艇預賽第一輪；<br />
      女子單人皮艇預賽第一輪；<br />
      男子雙人划艇預賽第二輪；<br />
      女子單人皮艇預賽第二輪</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/激流迴旋</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子雙人划艇半決賽；<br />
      女子單人皮艇半決賽；<br />
      男子雙人划艇決賽；<br />
      女子單人皮艇決賽；<br />
      男子雙人划艇頒獎；<br />
      女子單人皮艇頒獎</td>
    <td>廣東國際划船中心</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="140" />
  <col width="88" />
  <col width="40" span="2" />
  <col width="264" />
  <col width="203" />
  <tr>
    <td>皮划艇/靜水</td>
    <td>2010-11-22</td>
    <td>10:00</td>
    <td>14:50</td>
    <td>男子單人皮艇1000米預賽；<br />
      男子單人划艇1000米預賽；<br />
      女子四人皮艇500米預賽；<br />
      男子雙人皮艇1000米預賽；<br />
      男子雙人划艇1000米預賽；<br />
      男子四人皮艇1000米預賽</td>
    <td width="203">廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/靜水</td>
    <td>2010-11-22</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子單人皮艇200米預賽；<br />
      男子單人皮艇200米預賽；<br />
      男子單人划艇200米預賽；<br />
      男子雙人皮艇200米預賽；<br />
      女子單人皮艇500米預賽；<br />
      女子雙人皮艇500米預賽</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/靜水</td>
    <td>2010-11-23</td>
    <td>10:00</td>
    <td>14:30</td>
    <td>男子單人皮艇1000米半決賽；<br />
      男子單人划艇1000米半決賽；<br />
      女子四人皮艇500米半決賽；<br />
      男子雙人皮艇1000米半決賽；　<br />
      男子雙人划艇1000米半決賽；<br />
      男子四人皮艇1000米半決賽</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/靜水</td>
    <td>2010-11-23</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子單人皮艇200米半決賽；<br />
      男子單人皮艇200米半決賽；<br />
      男子單人划艇200米半決賽；<br />
      男子雙人皮艇200米半決賽；<br />
      女子單人皮艇500米半決賽；<br />
      女子雙人皮艇500米半決賽</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/靜水</td>
    <td>2010-11-25</td>
    <td>10:00</td>
    <td>14:40</td>
    <td>男子單人皮艇1000米決賽；<br />
      男子單人划艇1000米決賽；<br />
      男子單人皮艇1000米頒獎儀式；<br />
      男子單人划艇1000米頒獎儀式；<br />
      女子四人皮艇500米決賽；<br />
      男子雙人皮艇1000米決賽；<br />
      女子四人皮艇500米頒獎儀式；<br />
      男子雙人皮艇1000米頒獎儀式；<br />
      男子雙人划艇1000米決賽；<br />
      男子四人皮艇1000米決賽；<br />
      雙人划艇1000米頒獎儀式；<br />
      男子四人皮艇1000米頒獎儀式</td>
    <td>廣東國際划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/靜水</td>
    <td>2010-11-26</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>女子單人皮艇200米決賽；<br />
      男子單人皮艇200米決賽；<br />
      女子單人皮艇200米頒獎儀式；<br />
      男子單人皮艇200米頒獎儀式；<br />
      男子單人划艇200米決賽；<br />
      男子雙人皮艇200米決賽；<br />
      男子單人划艇200米頒獎儀式；<br />
      男子雙人皮艇200米頒獎儀式；<br />
      女子單人皮艇500米決賽；<br />
      女子雙人皮艇500米決賽；<br />
      女子單人皮艇500米頒獎儀式；<br />
      女子雙人皮艇500米頒獎儀式</td>
    <td>廣東國際划船中心</td>
  </tr>
</table>
