<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-16</td>
    <td>8:30</td>
    <td>21:30</td>
    <td>男女團體預賽；<br />
      男女團體預賽；<br />
      男女團體預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-17</td>
    <td>8:30</td>
    <td>21:30</td>
    <td>男女團體預賽；<br />
      男女團體預賽；<br />
      男女團體預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-18</td>
    <td>8:30</td>
    <td>21:30</td>
    <td>男女團體預賽；<br />
      男女團體預賽；<br />
      男女團體預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-19</td>
    <td>8:30</td>
    <td>17:00</td>
    <td>男女團體預賽及半決賽；<br />
      男女團體預賽及半決賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-20</td>
    <td>8:30</td>
    <td>17:30</td>
    <td>男子團體決賽；<br />
      男子團體頒獎儀式；<br />
      女子團體決賽；<br />
      女子團體頒獎儀式</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-22</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-22</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>21:00</td>
    <td>男女單組預賽；<br />
      男女單組預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-23</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-23</td>
    <td>14:30</td>
    <td>18:30</td>
    <td>男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽；<br />
      男女單組預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-24</td>
    <td>9:00</td>
    <td>11:00</td>
    <td>男女單組半決賽；<br />
      男女單組半決賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子單組決賽；<br />
      男子單組頒獎儀式；<br />
      女子單組決賽；<br />
      女子單組頒獎儀式</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-25</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-25</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-25</td>
    <td>19:00</td>
    <td>21:00</td>
    <td>男女雙人預賽；<br />
      男女雙人預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-26</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-26</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽；<br />
      男女雙人預賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-26</td>
    <td>19:00</td>
    <td>21:00</td>
    <td>男女雙人半決賽；<br />
      男女雙人半決賽</td>
    <td>海珠體育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-27</td>
    <td>9:00</td>
    <td>12:00</td>
    <td>男子雙人決賽；<br />
      男子雙人頒獎儀式；<br />
      女子雙人決賽；<br />
      女子雙人頒獎儀式</td>
    <td>海珠體育中心</td>
  </tr>
</table>
