<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>游泳</td>
    <td width="88">2010-11-13</td>
    <td width="44"> 09:00</td>
    <td width="44">××:××</td>
    <td>女子200米自由泳預賽；<br />
      男子400米個人混合泳預賽<br />
      女子100米蝶泳預賽；<br />
      女子50米蛙泳預賽；<br />
      男子200米蝶泳預賽；<br />
      女子4×100米混合泳接力預賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-13</td>
    <td>18:00</td>
    <td>××:××</td>
    <td>女子200米自由泳決賽；<br />
      男子400米個人混合泳決賽；<br />
      女子100米蝶泳決賽；<br />
      女子50米蛙泳決賽；<br />
      男子200米蝶泳決賽；<br />
      女子4×100米混合泳接力決賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-14</td>
    <td> 09:00</td>
    <td>××:××</td>
    <td>男子100米蝶泳預賽；<br />
      女子400米個人混合泳預賽；<br />
      男子200米自由泳預賽；<br />
      女子200米仰泳預賽；<br />
      男子50米蛙泳預賽；<br />
      女子4×100米自由泳接力預賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-14</td>
    <td>18:00</td>
    <td>××:××</td>
    <td>男子100米蝶泳決賽；<br />
      女子400米個人混合泳決賽；<br />
      男子200米自由泳決賽；<br />
      女子200米仰泳決賽；<br />
      男子50米蛙泳決賽；<br />
      女子4×100米自由泳接力決賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-15</td>
    <td> 09:00</td>
    <td>××:××</td>
    <td>女子50米仰泳預賽；<br />
      男子50米自由泳預賽；<br />
      女子400米自由泳預賽；<br />
      100米蛙泳預賽；<br />
      女子200米蝶泳預賽；<br />
      男子200米仰泳預賽；<br />
      男子4×200米自由泳接力預賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-15</td>
    <td>18:00</td>
    <td>××:××</td>
    <td>女子50米仰泳決賽；<br />
      男子50米自由泳決賽；<br />
      女子400米自由泳決賽；<br />
      男子100米蛙泳決賽；<br />
      女子200米蝶泳決賽；<br />
      男子200米仰泳決賽；<br />
      男子4×200米自由泳接力決賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-16</td>
    <td> 09:00</td>
    <td>××:××</td>
    <td>男子50米蝶泳預賽；<br />
      女子100米蛙泳預賽；<br />
      男子400米自由泳預賽；<br />
      女子50米自由泳預賽；<br />
      男子100米仰泳預賽；<br />
      女子4×200米自由泳接力預賽；<br />
      男子4×100米自由泳接力預賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-16</td>
    <td>18:00</td>
    <td>××:××</td>
    <td>男子50米蝶泳決賽；<br />
      女子100米蛙泳決賽；<br />
      男子400米自由泳決賽；<br />
      女子50米自由泳決賽；<br />
      男子100米仰泳決賽；<br />
      女子4×200米自由泳接力決賽；<br />
      男子4×100米自由泳接力決賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-17</td>
    <td> 09:00</td>
    <td>××:××</td>
    <td>女子100米自由泳預賽；<br />
      男子100米自由泳預賽；<br />
      女子200米蛙泳預賽；<br />
      男子200米個人混合泳預賽；<br />
      女子100米仰泳預賽；<br />
      女子800米自由泳預賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-17</td>
    <td>18:00</td>
    <td>××:××</td>
    <td>女子100米自由泳決賽；<br />
      男子100米自由泳決賽；<br />
      女子200米蛙泳決賽；<br />
      男子200米個人混合泳決賽；<br />
      女子100米仰泳決賽；<br />
      女子800米自由泳決賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-18</td>
    <td> 09:00</td>
    <td>××:××</td>
    <td>男子50米仰泳預賽；<br />
      女子200米個人混合泳預賽；<br />
      男子200米蛙泳預賽；<br />
      女子50米蝶泳預賽；<br />
      男子1500米自由泳預賽；<br />
      男子4×100米混合泳接力預賽</td>
    <td>奧體游泳館</td>
  </tr>
  <tr>
    <td>游泳</td>
    <td>2010-11-18</td>
    <td>18:00</td>
    <td>××:××</td>
    <td>男子50米仰泳決賽；<br />
      女子200米個人混合泳決賽；<br />
      男子200米蛙泳決賽；<br />
      女子50米蝶泳決賽；<br />
      男子1500米自由泳決賽；<br />
      男子4×100米混合泳接力決賽</td>
    <td>奧體游泳館</td>
  </tr>
</table>
