<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="254" />
  <col width="253" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>現代五項</td>
    <td>2010-11-23</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>女子擊劍熱身；<br />
      女子擊劍比賽；<br />
      女子游泳熱身；<br />
      女子游泳比賽</td>
    <td>黃村體育基地手球館,奧體游泳館</td>
  </tr>
  <tr>
    <td>現代五項</td>
    <td>2010-11-23</td>
    <td>14:00</td>
    <td>18:00</td>
    <td>女子馬術抽籤；<br />
      女子馬術比賽；<br />
      女子跑射聯項熱身及準備；<br />
      女子跑射聯項比賽；<br />
      女子個人、女子團體頒獎儀式</td>
    <td>黃村體育基地跑射聯項及馬術場</td>
  </tr>
  <tr>
    <td>現代五項</td>
    <td>2010-11-24</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男子擊劍熱身；<br />
      男子擊劍比賽；<br />
      男子游泳熱身；<br />
      男子游泳比賽</td>
    <td>黃村體育基地手球館,奧體游泳館</td>
  </tr>
  <tr>
    <td>現代五項</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>18:00</td>
    <td>男子馬術抽籤；<br />
      男子馬術比賽；<br />
      男子跑射聯項熱身及準備；<br />
      男子跑射聯項比賽；<br />
      男子個人、男子團體頒獎儀式</td>
    <td>黃村體育基地跑射聯項及馬術場</td>
  </tr>
</table>
