<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td> 體育舞蹈</td>
    <td>2010-11-13</td>
    <td>09:00</td>
    <td>19:35</td>
    <td>熱身、走場；<br />
      開幕式標準舞（單項舞）1/4決賽；<br />
      拉丁舞（5項舞）1/4決賽；<br />
      休息；<br />
      標準舞（單項舞）半決賽；<br />
      拉丁舞（5項舞）半決賽；<br />
      休息；<br />
      標準舞（單項舞）決賽；<br />
      休息；<br />
      拉丁舞（5項舞）決賽頒獎儀式</td>
    <td>增城體育館</td>
  </tr>
  <tr>
    <td> 體育舞蹈</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>19:35</td>
    <td>熱身、走場；<br />
      開幕式拉丁舞（單項舞）1/4決賽；<br />
      標準舞（5項舞）1/4決賽；<br />
      休息；<br />
      拉丁舞（單項舞）半決賽；<br />
      標準舞（5項舞）半決賽；<br />
      休息；<br />
      拉丁舞（單項舞）決賽；<br />
      休息；<br />
      標準舞（5項舞）決賽頒獎儀式</td>
    <td>增城體育館</td>
  </tr>
</table>
