<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第1輪；<br />
      女子預賽B組-第1輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第1輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第1輪；<br />
      女子預賽B組-第1輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽B組-第1輪；<br />
      女子預賽A組-第1輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽A組-第1輪；<br />
      男子預賽A組-第1輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽B組-第1輪；<br />
      男子預賽B組-第1輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽C組-第1輪；<br />
      男子預賽C組-第1輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-13</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽D組-第1輪；<br />
      男子預賽D組-第1輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-14</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第2輪；<br />
      女子預賽B組-第2輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-14</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第2輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-14</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第2輪；<br />
      女子預賽B組-第2輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-14</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽B組-第2輪；<br />
      女子預賽A組-第2輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-14</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽A組-第2輪；<br />
      男子預賽A組-第2輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-15</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽A組-第3輪；<br />
      男子預賽A組-第3輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-15</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽B組-第2輪；<br />
      男子預賽B組-第2輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-15</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽C組-第2輪；<br />
      男子預賽C組-第2輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-15</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽D組-第2輪；<br />
      男子預賽D組-第2輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第3輪；<br />
      女子預賽B組-第3輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第3輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第3輪；<br />
      女子預賽B組-第3輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽B組-第3輪；<br />
      女子預賽A組-第3輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽A組-第4輪；<br />
      男子預賽A組-第4輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽B組-第3輪；<br />
      男子預賽B組-第3輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽C組-第3輪；<br />
      男子預賽C組-第3輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-16</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽D組-第3輪；<br />
      男子預賽D組-第3輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-17</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第4輪；<br />
      女子預賽B組-第4輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-17</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第4輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-17</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第4輪；<br />
      女子預賽B組-第4輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-17</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第4輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-17</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子預賽A組-第5輪；<br />
      男子預賽A組-第5輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-17</td>
    <td>18:45</td>
    <td>20:30</td>
    <td>女子預賽A組-第4輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第5輪；<br />
      女子預賽B組-第5輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第5輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第5輪；<br />
      女子預賽B組-第5輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽B組-第5輪；<br />
      女子預賽A組-第5輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第1輪；<br />
      男子小組賽E組-第1輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第1輪；<br />
      男子小組賽F組-第1輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-18</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽F組-第1輪；<br />
      男子小組賽F組-第1輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第6輪；<br />
      女子預賽B組-第6輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第6輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第6輪；<br />
      女子預賽B組-第6輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽B組-第6輪；<br />
      女子預賽A組-第6輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第2輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第2輪；<br />
      男子小組賽F組-第2輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-19</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽F組-第2輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-20</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第3輪；<br />
      男子小組賽E組-第3輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-20</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第3輪；<br />
      男子小組賽F組-第3輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-20</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽F組-第3輪；<br />
      男子小組賽F組-第3輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第7輪；<br />
      女子預賽B組-第7輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>14:15</td>
    <td>16:00</td>
    <td>女子預賽B組-第7輪</td>
    <td>廣體體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽A組-第7輪；<br />
      女子預賽B組-第7輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子預賽B組-第7輪；<br />
      女子預賽A組-第7輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第4輪；<br />
      男子小組賽E組-第4輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第4輪；<br />
      男子小組賽F組-第4輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-21</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽F組-第4輪；<br />
      男子小組賽F組-第4輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-22</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第5輪；<br />
      男子小組賽E組-第5輪</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-22</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽E組-第5輪；<br />
      男子小組賽F組-第5輪</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-22</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子小組賽F組-第5輪；<br />
      男子小組賽F組-第5輪</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-24</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>女子排位賽第7、8名:A4-B4；<br />
      女子排位賽第5、6名:A3-B3</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-24</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>女子半決賽第1場；<br />
      女子半決賽第2場</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-24</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子1/4決賽第1場；<br />
      男子1/4決賽第2場</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-24</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>男子1/4決賽第3場；<br />
      男子1/4決賽第4場</td>
    <td>英東體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-25</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>男子半決賽第1場；<br />
      男子半決賽第2場</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-25</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>男子5-8名；<br />
      男子5-8名</td>
    <td>黃埔中心體育館</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-25</td>
    <td>19:15</td>
    <td>23:15</td>
    <td>女子3、4名決賽；<br />
      女子冠亞軍決賽</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-26</td>
    <td>14:15</td>
    <td>18:15</td>
    <td>男子7、8名；<br />
      男子5、6名</td>
    <td>廣州國際體育演藝中心</td>
  </tr>
  <tr>
    <td>籃球</td>
    <td>2010-11-26</td>
    <td>16:45</td>
    <td>20:45</td>
    <td>男子3、4名決賽；<br />
      男子冠亞軍決賽</td>
    <td>黃埔中心體育館</td>
  </tr>
</table>
