<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>項目</th>
    <th>日期</th>
    <th>開始<br />
      時間</th>
    <th >結束<br />
      時間 </th>
    <th>場次描述 </th>
    <th>場館</th>
  </tr>
  <tr>
    <td>橄欖球</td>
    <td>2010-11-21</td>
    <td>14:30</td>
    <td>18:30</td>
    <td>男子組A1 vs A4 (場次1)；<br />
      男子組B1 vs B4 (場次2)；<br />
      女子組A1 vs A5 (場次3)；<br />
      女子組B1 vs B5 (場次4)；<br />
      男子組C1 vs C4(場次5)；<br />
      男子組D1 vs D4 (場次6)；<br />
      女子組A2 vs A4 (場次7)；<br />
      女子組B2 vs B4 (場次8)；<br />
      男子組A2 vs A3 (場次9)；<br />
      男子組B2 vs B3 (場次10)；<br />
      女子組A3 vs A5 (場次11)；<br />
      女子組B3 vs B5 (場次12)</td>
    <td>大學城中心體育場</td>
  </tr>
  <tr>
    <td>橄欖球</td>
    <td>2010-11-22</td>
    <td>8:00</td>
    <td>18:40</td>
    <td>男子組C2 vs C3 (場次13)；<br />
      男子組D2 vs D3 (場次14)；<br />
      女子組A1 vs A4 (場次15)；<br />
      女子組B1 vs B4 (場次16)；<br />
      男子組A1 vs A3 (場次17)；<br />
      男子組B1 vs B3 (場次18)；<br />
      女子組A2 vs A3 (場次19)；<br />
      女子組B2 vs B3 (場次20)；<br />
      男子組C1 vs C3 (場次21)；<br />
      男子組D1 vs D3 (場次22)；<br />
      女子組A4 Vs A5 (場次23)；<br />
      女子組B4 Vs B5 (場次24)；<br />
      男子組A2 vs A4 (場次25)；<br />
      男子組B2 vs B4 (場次26)；<br />
      女子組A1 vs A3 (場次27)；<br />
      女子組B1 vs B3 (場次28)；<br />
      男子組C2 vs C4 (場次29)；<br />
      男子組D2 vs D4 (場次30)；<br />
      女子組A2 vs A5 (場次31)；<br />
      女子組B2 vs B5 (場次32)；<br />
      男子組A3 vs A4 (場次33)；<br />
      男子組B3 vs B4 (場次34)；<br />
      女子組A3 vs A4 (場次35)；<br />
      女子組B3 vs B4 (場次36)；<br />
      男子組C3 vs C4 (場次37)；<br />
      男子組D3 vs D4 (場次38)；<br />
      女子組A1 vs A2 (場次39)；<br />
      女子組B1 vs B2 (場次40)；<br />
      男子組A1 vs A2 (場次41)；<br />
      男子組B1 vs B2 (場次42)；<br />
      男子組C1 vs C2 (場次43)；<br />
      男子組D1 vs D2 (場次44)</td>
    <td>大學城中心體育場</td>
  </tr>
  <tr>
    <td>橄欖球</td>
    <td>2010-11-23</td>
    <td>8:20</td>
    <td>18:50</td>
    <td>男子組A組第三 vs D組第四    (9-16名決賽,場次45)；<br />
      男子組B組第三 vs C組第四 (9-16名決賽,場次46)；<br />
      男子組C組第三 vs B組第四 (9-16名決賽,場次47)；<br />
      男子組D組第三 vs A組第四 (9-16名決賽,場次48)；<br />
      女子組A組第一 vs B組第二 (半決賽，場次49)；<br />
      女子組A組第二 vs B組第一（半決賽，場次50）；<br />
      男子組A組第一 vs D組第二 (1-8名決賽,場次51)；<br />
      男子組B組第一 vs C組第二 (1-8名決賽,場次52)；<br />
      男子組C組第一 vs B組第二 (1-8名決賽,場次53)；<br />
      男子組D組第一 vs A組第二 (1-8名決賽,場次54)；<br />
      女子組A組第五 vs B組第五 (9、10名決賽，場次55)；<br />
      女子組A組第四 vs B組第四（7、8名決賽， 場次56）；<br />
      男子組第45場負 vs 第47場負 (13-16名決賽，場次57)；<br />
      男子組第46場負 vs 第48場負 (13-16名決賽，場次58)；<br />
      男子組第45場勝 vs 第47場勝 (9-12名決賽，場次59)；<br />
      男子組第46場勝 vs 第48場勝 (9-12名決賽，場次60)；<br />
      女子組A組第三 vs B組第三 (5、6名決賽，場次61)；<br />
      男子組第51場勝 vs 第53場勝 (半決賽，場次62)；<br />
      男子組52場勝 vs 第54場勝 (半決賽，場次63)；<br />
      男子組第51場負 vs 第53場負 (5-8名決賽，場次64)；<br />
      男子組第52場負 vs 第54場負 (5-8名決賽，場次65)；<br />
      男子組第57場負 vs 第58場負（15、16名決賽，場次66）；<br />
      男子組第55場勝 vs 第56場勝 (13、14名決賽，場次67)；<br />
      男子組第59場負 vs 第60場負 (11、12名決賽，場次68)；<br />
      男子組第59場勝 vs 第60場勝 (9、10名決賽，場次69)；<br />
      男子組第64場負 vs 第65場負 (7、8名決賽，場次70)；<br />
      男子組第64場勝 vs 第65場勝 (5、6名決賽，場次71)；<br />
      女子組第49場負 vs 第50場負 (3、4名決賽，場次72)；<br />
      男子組第62場負 vs 第63場負（3、4名決賽，場次73)；<br />
      女子組冠、亞軍決賽(場次74)；<br />
      男子組冠、亞軍決賽(場次75)</td>
    <td>大學城中心體育場</td>
  </tr>
</table>
