<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-13</td>
    <td>15:00</td>
    <td>19:00</td>
    <td>男女个人赛第1－2轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-14</td>
    <td>15:00</td>
    <td>19:00</td>
    <td>男女个人赛第3－4轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-15</td>
    <td>15:00</td>
    <td>19:00</td>
    <td>男女个人赛第5－7轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-16</td>
    <td>15:00</td>
    <td>19:00</td>
    <td>男女个人赛第8－9轮；<br />
      颁奖仪式</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-18</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第1轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-19</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第2轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-20</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第3轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-21</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第4轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-22</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第5轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-23</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第6轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-24</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第7轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-25</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第8轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>国际象棋</td>
    <td>2010-11-26</td>
    <td>15:00</td>
    <td>20:00</td>
    <td>男女团体赛第9轮；<br />
      颁奖仪式</td>
    <td>广州棋院</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-20</td>
    <td> 09:30</td>
    <td>11:00</td>
    <td>男女混合双人预赛第一轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-20</td>
    <td>13:00</td>
    <td>14:30</td>
    <td>男女混合双人预赛第二轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-20</td>
    <td>16:30</td>
    <td>18:00</td>
    <td>男女混合双人预赛第三轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-21</td>
    <td>09:30</td>
    <td>11:00</td>
    <td>男女混合双人预赛第四轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-21</td>
    <td>13:00</td>
    <td>14:30</td>
    <td>男女混合双人预赛第五轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-21</td>
    <td>16:30</td>
    <td>18:00</td>
    <td>男女混合双人预赛第六轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-22</td>
    <td> 09:30</td>
    <td>13:00</td>
    <td>男女混合双人半决赛</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-22</td>
    <td>15:00</td>
    <td>19:00</td>
    <td>决赛和三、四名决赛；<br />
      男女混合双人赛颁奖仪式</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-23</td>
    <td>09:30</td>
    <td>13:00</td>
    <td>男女团体预赛第一轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-23</td>
    <td> 15:00</td>
    <td> 18:30</td>
    <td>男女团体预赛第二轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-24</td>
    <td>09:30</td>
    <td>13:00</td>
    <td>男女团体预赛第三轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-24</td>
    <td>15:00</td>
    <td>18:30</td>
    <td>男女团体预赛第四轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-25</td>
    <td> 09:30</td>
    <td>         13:00</td>
    <td>男女团体预赛第五轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-25</td>
    <td>15:00</td>
    <td>18:30</td>
    <td>男女团体预赛第六轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-26</td>
    <td>09:30</td>
    <td>13:00</td>
    <td>男女团体半决赛</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>围棋</td>
    <td>2010-11-26</td>
    <td>15:00</td>
    <td>19:00</td>
    <td>男女团体决赛和三、四名决赛；<br />
      男女团体颁奖仪式</td>
    <td>广州棋院</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-13</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男、女个人第一轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-14</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男、女个人第二轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-15</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男、女个人第三轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-16</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男、女个人第四轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-17</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男、女个人第五轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-18</td>
    <td>14:30</td>
    <td>17:30</td>
    <td>男、女个人第六轮</td>
    <td>广州棋院</td>
  </tr>
  <tr>
    <td>象棋</td>
    <td>2010-11-19</td>
    <td>14:30</td>
    <td>18:30</td>
    <td>男、女个人第七轮；颁奖仪式</td>
    <td>广州棋院</td>
  </tr>
</table>
