<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子60公斤级预赛；<br />
      男子81公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-16</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子46-49公斤级预赛；<br />
      男子52公斤级预赛；<br />
      男子75公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子64公斤级预赛；<br />
      男子91公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子56公斤级预赛；<br />
      男子69公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-18</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子46-49公斤级预赛；<br />
      男子69公斤级预赛；<br />
      男子91公斤以上级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-18</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子52公斤级预赛；<br />
      男子75公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-19</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子56公斤级预赛；<br />
      男子81公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-19</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子46-49公斤级预赛；<br />
      男子60公斤级预赛；<br />
      男子91公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-20</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤级预赛；<br />
      女子56-60公斤级预赛；<br />
      女子69-75公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-20</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子52公斤级预赛；<br />
      男子64公斤级预赛；<br />
      男子91公斤以上级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-21</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤级预赛；<br />
      女子56-60公斤级预赛；<br />
      女子69-75公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-21</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子56公斤级预赛；<br />
      男子64公斤级预赛；<br />
      男子75公斤级预赛；<br />
      男子91公斤级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-22</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤级预赛；<br />
      女子56-60公斤级预赛；<br />
      女子69-75公斤级预赛；</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>男子60公斤级预赛；<br />
      男子69公斤级预赛；<br />
      男子81公斤级预赛；<br />
      男子91公斤以上级预赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>女子48-51公斤级半决赛；<br />
      男子52公斤级半决赛；<br />
      男子56公斤级半决赛；<br />
      男子64公斤级半决赛；<br />
      男子75公斤级半决赛；<br />
      男子91公斤级半决赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-24</td>
    <td>19:00</td>
    <td>22:30</td>
    <td>女子56-60公斤级半决赛；<br />
      女子69-75公斤级半决赛；<br />
      男子46-49公斤级半决赛；<br />
      男子60公斤级半决赛；<br />
      男子69公斤级半决赛；<br />
      男子81公斤级半决赛；<br />
      男子91公斤以上级半决赛</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-25</td>
    <td>19:00</td>
    <td>21:55</td>
    <td>女子48-51公斤级决赛；<br />
      女子48-51公斤级颁奖仪式；<br />
      男子52公斤级决赛；<br />
      男子52公斤级颁奖仪式；<br />
      男子56公斤级决赛；<br />
      男子56公斤级颁奖仪式；<br />
      男子64公斤级决赛；<br />
      男子64公斤级颁奖仪式；<br />
      男子75公斤级决赛；<br />
      男子75公斤级颁奖仪式；<br />
      男子91公斤级决赛；<br />
      男子91公斤级颁奖仪式</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
  <tr>
    <td>拳击</td>
    <td>2010-11-26</td>
    <td>19:00</td>
    <td>22:00</td>
    <td>女子56-60公斤级决赛；<br />
      女子56-60公斤级颁奖仪式；<br />
      女子69-75公斤级决赛；<br />
      女子69-75公斤级颁奖仪式；<br />
      男子46-49公斤级决赛；<br />
      男子46-49公斤级颁奖仪式；<br />
      男子60公斤级决赛；<br />
      男子60公斤级颁奖仪式；<br />
      男子69公斤级决赛；<br />
      男子69公斤级颁奖仪式；<br />
      男子81公斤级决赛；<br />
      男子81公斤级颁奖仪式；<br />
      男子91公斤以上级决赛；<br />
      男子91公斤以上级颁奖仪式</td>
    <td>佛山岭南明珠体育馆</td>
  </tr>
</table>
