<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>场地自行车</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td >17:00</td>
    <td>男子团体竞速赛资格赛；<br />
      女子500米计时赛决赛；<br />
      女子500米计时赛颁奖仪式；<br />
      男子个人追逐赛资格赛；<br />
      女子个人追逐赛资格；<br />
      男子团体竞速赛第一轮</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>场地自行车</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>18:00</td>
    <td>男子团体竞速赛决赛；<br />
      男子团体竞速赛颁奖仪式；<br />
      男子个人追逐赛第一轮；<br />
      女子个人追逐赛第一轮；<br />
      男子争先赛资格赛；<br />
      女子争先赛资格赛；<br />
      男子争先赛1/16赛；<br />
      女子争先赛1/16赛；<br />
      男子个人追逐赛决赛；<br />
      女子个人追逐赛决赛；<br />
      男子个人追逐赛颁奖仪式；<br />
      女子个人追逐赛颁奖仪式；<br />
      男子争先赛1/8赛；<br />
      女子争先赛1/8赛；<br />
      男子争先赛1/8赛；<br />
      复活赛女子争先赛1/8赛复活赛</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>场地自行车</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td> 17:00</td>
    <td>男子团体追逐赛资格赛；<br />
      男子争先赛男子1/4赛第一轮；<br />
      女子争先赛女子1/4赛第一轮；<br />
      女子记分赛资格赛；<br />
      男子争先赛1/4赛第二轮；<br />
      女子争先赛1/4赛第二轮<br />
      男子团体追逐赛第一轮；<br />
      男子争先赛1/4赛第三轮；<br />
      女子争先赛1/4赛第三轮</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>场地自行车</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>17:00</td>
    <td>男子团体追逐赛决赛；<br />
      男子团体追逐赛颁奖仪式；<br />
      男子争先赛1/2赛第一轮；<br />
      女子争先赛1/2赛第一轮；<br />
      女子记分赛决赛女子记分赛颁奖仪式；<br />
      男子争先赛1/2赛第二轮；<br />
      女子争先赛1/2赛第二轮；<br />
      男子记分赛资格赛；<br />
      男子凯林赛第一轮；<br />
      男子凯林赛第一轮复活赛；<br />
      男子争先赛1/2赛；<br />
      第三轮女子争先赛1/2赛第三轮；男子凯林赛第二轮</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>场地自行车</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>13:00</td>
    <td>男子争先赛决赛第一轮；<br />
      女子争先赛决赛第一轮；<br />
      男子记分赛决赛；<br />
      男子记分赛颁奖仪式；<br />
      男子凯林赛决赛；<br />
      男子凯林赛颁奖仪式；<br />
      男子争先赛决赛第二轮；<br />
      女子争先赛决赛第二轮；<br />
      男子争先赛5-8名；<br />
      女子争先赛5-8名；<br />
      男子争先赛决赛第三轮；<br />
      女子争先赛决赛第三轮；<br />
      男子争先赛颁奖仪式女子争先赛颁奖仪式</td>
    <td>广州自行车轮滑中心</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>公路自行车</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td> 15:00</td>
    <td>男子公路个人计时赛决赛；<br />
      男子公路个人计时赛颁奖仪式；<br />
      女子公路个人计时赛决赛；<br />
      女子公路个人计时赛颁奖仪式</td>
    <td>大学城铁人三项场</td>
  </tr>
  <tr>
    <td>公路自行车</td>
    <td>2010-11-22</td>
    <td>09:00</td>
    <td>14:00</td>
    <td>男子公路个人赛；<br />
      男子公路个人赛颁奖仪式</td>
    <td>大学城铁人三项场</td>
  </tr>
  <tr>
    <td>公路自行车</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td>12:30</td>
    <td>男子公路个人赛；<br />
      男子公路个人赛颁奖仪式</td>
    <td>大学城铁人三项场</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>山地自行车</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td > 16:15</td>
    <td >女子山地车越野赛决赛；<br />
      女子山地车越野赛颁奖仪式；<br />
      男子山地车越野赛决赛；<br />
      男子山地车越野赛颁奖仪式</td>
    <td>大夫山自行车场</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>小轮车</td>
    <td>2010-11-19</td>
    <td>10:30</td>
    <td>14:20</td>
    <td>女子BMX第一轮；<br />
      男子BMX第一轮；<br />
      女子BMX第二轮；<br />
      男子BMX第二轮；<br />
      女子BMX第三轮；<br />
      男子BMX第三轮；<br />
      女子BMX1/4决赛；<br />
      男子BMX1/4决赛；<br />
      女子BMX半决赛；<br />
      男子BMX半决赛；<br />
      女子BMX决赛；<br />
      男子BMX决赛；<br />
      女子BMX颁奖仪式；<br />
      男子BMX颁奖仪式</td>
    <td>广州自行车轮滑中心</td>
  </tr>
</table>
