<table border="0" cellpadding="2" cellspacing="1" >
		  <col width="100" />
		  <col width="88" />
		  <col width="44" span="2" />
		  <col width="304" />
		  <col width="203" />
		  <tr>
		    <th>项目</th>
		    <th>日期</th>
		    <th>开始<br />
		      时间</th>
		    <th >结束<br />
		      时间 </th>
		    <th>场次描述 </th>
		    <th>场馆</th>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-21</td>
	      <td> 08:00</td>
	      <td>10:45</td>
	      <td>男子20公里竞走决赛</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-21</td>
	      <td> 17:00</td>
	      <td>20:25</td>
	      <td>女子100米预赛；<br />
	        男子链球决赛；<br />
	        女子跳远及格赛；<br />
	        女子铅球决赛；<br />
	        男子100米预赛；<br />
	        男子20公里竞走颁奖仪；<br />
	        式女子10000米决赛；<br />
	        女子400米预赛；<br />
	        女子铅球颁奖仪式；<br />
	        男子400米预赛；<br />
	        女子10000米颁奖仪式；<br />
	        男子5000米决赛；<br />
	        男子链球颁奖仪式；<br />
	        女子3000米障碍决赛；<br />
	        男子5000米颁奖仪式；<br />
	        女子3000米障碍颁奖仪式</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-22</td>
	      <td>09:00</td>
	      <td>11:30</td>
	      <td>女子七项全能1/7　100米栏；<br />
	        男子跳远及格赛；<br />
	        男子1500米预赛；<br />
	        女子七项全能2/7跳高；<br />
	        女子1500米预赛；<br />
	        男子400米复赛；<br />
	        女子400米复赛</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-22</td>
	      <td>17:00</td>
	      <td>19:55</td>
	      <td>男子撑竿跳高决赛；<br />
	        女子七项全能3/7     铅球；<br />
	        女子链球决赛；<br />
	        女子100米复赛；<br />
	        男子100米复赛；<br />
	        女子400米决赛；<br />
	        男子400米决赛；<br />
	        ；女子400米颁奖仪式；<br />
	        男子110米栏预赛；<br />
	        男子400米颁奖仪式；<br />
	        女子七项全能4/7     200米；<br />
	        女子链球颁奖仪式；<br />
	        女子100米决赛；<br />
	        男子撑竿跳高颁奖仪式；<br />
	        男子100米决赛；<br />
	        女子100米颁奖仪式；<br />
	        男子100米颁奖仪式</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-23</td>
	      <td>09:00</td>
	      <td> 11:10</td>
	      <td>女子七项全能5/7  跳远；<br />
	        女子20公里竞走决赛；<br />
	        女子七项全能6/7     标枪</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-23</td>
	      <td>17:00</td>
	      <td> 20:05</td>
	      <td>男子跳高决赛；<br />
	        女子七项全能7/7     800米；<br />
	        女子跳远决赛；<br />
	        女子铁饼决赛；　<br />
	        女子20公里竞走颁奖仪式；<br />
	        女子1500米决赛；<br />
	        男子1500米决赛；<br />
	        女子七项全能颁奖仪式；<br />
	        女子4X100米接力预赛；<br />
	        女子1500米颁奖仪式；<br />
	        男子4X100米接力预赛；<br />
	        男子1500米颁奖仪式；<br />
	        男子3000米障碍决赛；女子跳远颁奖仪式；男子4X400米接力预赛；<br />
	        女子铁饼颁奖仪式；<br />
	        男子3000米障碍颁奖仪式；<br />
	        女子4X400米接力预赛；<br />
	        男子跳高颁奖仪式</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-24</td>
	      <td>09:00</td>
	      <td>11:40</td>
	      <td>男子十项全能1/10  100米；<br />
	        女子400米栏预赛；<br />
	        男子十项全能2/10     跳远；<br />
	        男子400米栏预赛</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-24</td>
	      <td>17:00</td>
	      <td>20:10</td>
	      <td>女子撑竿跳高决赛；<br />
	        男子十项全能4/10     跳高；<br />
	        女子100米栏预赛；<br />
	        男子铁饼决赛；<br />
	        男子跳远决赛；<br />
	        女子200米预赛；<br />
	        男子200米预赛；<br />
	        女子800米预赛；<br />
	        男子800米预赛；<br />
	        男子铁饼颁奖仪式；<br />
	        男子十项全能5/10     400米；<br />
	        男子跳远颁奖仪式；<br />
	        男子110米栏决赛；<br />
	        女子撑竿跳高颁奖仪式；<br />
	        男子110米栏颁奖仪式</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-25</td>
	      <td>07:30</td>
	      <td>13:30</td>
	      <td>男子50公里竞走决赛；<br />
	        男子十项全能6/10 110米栏；<br />
	        男子三级跳远及格赛；<br />
	        女子200米复赛；<br />
	        男子十项全能7/10 铁饼；<br />
	        男子200米复赛；<br />
	        男子十项全能 8/10 撑竿跳高</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-25</td>
	      <td>17:00</td>
	      <td>20:05</td>
	      <td>男子十项全能9/10    标枪；<br />
	        女子100米栏决赛；<br />
	        女子三级跳远决赛；<br />
	        男子50公里竞走颁奖仪式；<br />
	        女子800米决赛；<br />
	        女子100米栏颁奖仪式；<br />
	        男子800米决赛；<br />
	        女子800米颁奖仪式；<br />
	        女子200米决赛；<br />
	        男子800米颁奖仪式；<br />
	        男子200米决赛；<br />
	        女子标枪决赛；<br />
	        女子200米颁奖仪式；<br />
	        男子200米颁奖仪式；<br />
	        女子400米栏决赛；<br />
	        女子三级跳远颁奖仪式；<br />
	        男子400米栏决赛；<br />
	        女子400米栏颁奖仪式；<br />
	        男子十项全能10/10 1500米；<br />
	        男子400米栏颁奖仪式；<br />
	        男子十项全能颁奖仪式；<br />
	        女子标枪颁奖仪式</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-26</td>
	      <td>17:00</td>
	      <td>20:45</td>
	      <td>女子跳高决赛；<br />
	        男子标枪决赛；<br />
	        男子三级跳远决赛；<br />
	        女子5000米决赛；<br />
	        女子4X100米接力决赛；<br />
	        女子5000米颁奖仪式；<br />
	        男子4X100米接力决赛；<br />
	        女子4X100米颁奖仪式；<br />
	        男子10000米决赛；<br />
	        男子4X100米颁奖仪式；<br />
	        男子铅球决赛；<br />
	        男子标枪颁奖仪式；<br />
	        女子4X400米接力决赛；<br />
	        男子三级跳远颁奖仪式；<br />
	        女子跳高颁奖仪式；<br />
	        男子10000米颁奖仪式；<br />
	        男子4X400米接力决赛；<br />
	        女子4X400米接力颁奖仪式；<br />
	        男子4X400米接力颁奖仪式；<br />
	        男子铅球颁奖仪式</td>
	      <td>奥体中心场</td>
	      </tr>
	    <tr>
	      <td>田径</td>
	      <td>2010-11-27</td>
	      <td> 08:30</td>
	      <td>14:40</td>
	      <td>女子马拉松决赛；<br />
	        女子马拉松颁奖仪式；<br />
	        男子马拉松决赛；<br />
	        男子马拉松颁奖仪式</td>
	      <td>大学城铁人三项场</td>
	      </tr>
	    </table>