<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>龙舟</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>12:10</td>
    <td>男子预赛第一组；<br />
      男子预赛第二组；<br />
      女子第一轮赛；<br />
      男子复赛一组；<br />
      女子第二轮赛；<br />
      男子名次赛一组；<br />
      女子第三轮赛；<br />
      男子决赛一组；<br />
      颁奖仪式</td>
    <td>增城龙舟场</td>
  </tr>
  <tr>
    <td>龙舟</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>11:30</td>
    <td>男子预赛第一组；<br />
      男子预赛第二组；<br />
      女子第一轮赛；<br />
      男子复赛一组；<br />
      女子第二轮赛；<br />
      男子名次赛一组；<br />
      第三轮赛；<br />
      男子决赛一组；<br />
      颁奖仪式</td>
    <td>增城龙舟场</td>
  </tr>
  <tr>
    <td>龙舟</td>
    <td>2010-11-20</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子预赛第一组；<br />
      男子预赛第二组；<br />
      女子第一轮赛；<br />
      男子复赛一组；<br />
      女子第二轮赛；<br />
      男子名次赛一组；<br />
      女子第三轮赛；<br />
      男子决赛一组；<br />
      颁奖仪式</td>
    <td>增城龙舟场</td>
  </tr>
</table>
