<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="254" />
  <col width="253" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>现代五项</td>
    <td>2010-11-23</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>女子击剑热身；<br />
      女子击剑比赛；<br />
      女子游泳热身；<br />
      女子游泳比赛</td>
    <td>黄村体育基地手球馆,奥体游泳馆</td>
  </tr>
  <tr>
    <td>现代五项</td>
    <td>2010-11-23</td>
    <td>14:00</td>
    <td>18:00</td>
    <td>女子马术抽签；<br />
      女子马术比赛；<br />
      女子跑射联项热身及准备；<br />
      女子跑射联项比赛；<br />
      女子个人、女子团体颁奖仪式</td>
    <td>黄村体育基地跑射联项及马术场</td>
  </tr>
  <tr>
    <td>现代五项</td>
    <td>2010-11-24</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男子击剑热身；<br />
      男子击剑比赛；<br />
      男子游泳热身；<br />
      男子游泳比赛</td>
    <td>黄村体育基地手球馆,奥体游泳馆</td>
  </tr>
  <tr>
    <td>现代五项</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>18:00</td>
    <td>男子马术抽签；<br />
      男子马术比赛；<br />
      男子跑射联项热身及准备；<br />
      男子跑射联项比赛；<br />
      男子个人、男子团体颁奖仪式</td>
    <td>黄村体育基地跑射联项及马术场</td>
  </tr>
</table>
