<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>轮滑</td>
    <td>2010-11-23</td>
    <td>9:00</td>
    <td>11:00</td>
    <td>速度轮滑女子300米个人计时赛；<br />
      速度轮滑男子300米个人计时赛；<br />
      颁奖仪式</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>轮滑</td>
    <td>2010-11-23</td>
    <td>15:00</td>
    <td>17:00</td>
    <td>速度轮滑女子500米计时预赛、半决赛、决赛；<br />
      速度轮滑男子500米计时预赛、半决赛、决赛；<br />
      颁奖仪式</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>轮滑</td>
    <td>2010-11-24</td>
    <td>9:00</td>
    <td>10:30</td>
    <td>速度轮滑女子10000米积分淘汰赛；<br />
      速度轮滑男子10000米积分淘汰赛；<br />
      颁奖仪式</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>轮滑</td>
    <td>2010-11-25</td>
    <td>14:00</td>
    <td>16:50</td>
    <td>花样轮滑女子短节目；<br />
      花样轮滑双人滑短节目；<br />
      花样轮滑男子短节目</td>
    <td>广州自行车轮滑中心</td>
  </tr>
  <tr>
    <td>轮滑</td>
    <td>2010-11-26</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>花样轮滑女子长节目；<br />
      花样轮滑双人滑长节目；<br />
      花样轮滑男子长节目；<br />
      颁奖仪式</td>
    <td>广州自行车轮滑中心</td>
  </tr>
</table>
