<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>预赛 第01场 A1 vs A4</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>预赛 第02场 B1 vs B4</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>预赛 第03场 A2 vs A3</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-13</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>预赛 第04场 B2 vs B3</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>预赛 第05场 A4 vs A2</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>预赛 第06场 B3 vs B1</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>预赛 第07场 B4 vs B2</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-14</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>预赛 第08场 A3 vs A1</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>预赛 第09场 B2 vs B1</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>预赛 第10场 A2 vs A1</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>预赛 第11场 B3 vs B4</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-15</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>预赛 第12场 A3 vs A4</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>12:00</td>
    <td>交叉赛  A组第3 vs B组第4（C）</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>交叉赛  A组第1 vs B组第2（D）</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>交叉赛  B组第3 vs A组第4    （E）</td>
    <td>奥体棒球场2号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-17</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>交叉赛  B组第1 vs A组第2 （F）</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-18</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>决7-8名 （C负vs E负）</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-18</td>
    <td> 18:00</td>
    <td>21:00</td>
    <td>决5-6名 （C胜vs E胜）</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-19</td>
    <td> 10:00</td>
    <td>13:00</td>
    <td>3-4名决赛 （D负vs F负）</td>
    <td>奥体棒球场1号场</td>
  </tr>
  <tr>
    <td>棒球</td>
    <td>2010-11-19</td>
    <td> 18:00</td>
    <td>21:40</td>
    <td>决赛 （D胜vs F胜）</td>
    <td>奥体棒球场1号场</td>
  </tr>
</table>
