<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-13</td>
    <td>09:00</td>
    <td>15:30</td>
    <td>女子10米气步枪资格赛；<br />
      男子50米手枪资格赛；<br />
      男子10米气步枪资格赛；<br />
      女子10米气步枪决赛；<br />
      男子10米气步枪决赛；<br />
      男子50米手枪决赛</td>
    <td>奥体射击馆</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-14</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>男子50米步枪卧射淘汰赛(第1阶段）；<br />
      男子50米步枪卧射淘汰赛（第2阶段）；<br />
      男子10米气手枪资格赛；<br />
      女子10米气手枪资格赛；<br />
      男子10米气手枪决赛；<br />
      女子10米气手枪决赛</td>
    <td>奥体射击馆</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-15</td>
    <td>09:00</td>
    <td>16:45</td>
    <td>男子50米步枪卧射淘汰赛；<br />
      男子25米手枪速射资格赛 (第1阶段)；<br />
      男子25米手枪速射资格赛 (第2阶段)；<br />
      女子10米移动靶比赛 (第1阶段)；<br />
      女子10米移动靶比赛 (第2阶段)；<br />
      女子50米步枪卧射比赛；<br />
      男子50米步枪卧射决赛；<br />
      男子25米手枪速射决赛</td>
    <td>奥体射击馆</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-16</td>
    <td>09:00</td>
    <td>15:00</td>
    <td>男子10米移动靶比赛(第1阶段)；<br />
      女子25米手枪资格赛；<br />
      男子10米移动靶比赛(第2阶段)；<br />
      女子25米手枪决赛</td>
    <td>奥体射击馆</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>13:00</td>
    <td>男子25米标准手枪比赛；<br />
      男子10米移动靶混合速比赛；<br />
      女子50米步枪三种姿势资格赛；<br />
      女子50米步枪三种姿势决赛</td>
    <td>奥体射击馆</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>男子50米步枪三种姿势资格赛；<br />
      男子25米中心发火手枪比赛；<br />
      男子50米步枪三种姿势决赛</td>
    <td>奥体射击馆</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>13:30</td>
    <td>男子飞碟多向资格赛第1天</td>
    <td>广州飞碟中心</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>女子飞碟多向资格赛；<br />
      男子飞碟多向资格赛第2天；<br />
      男子飞碟多向决赛；<br />
      女子飞碟多向决赛</td>
    <td>广州飞碟中心</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td>14:00</td>
    <td>男子飞碟双多向资格赛；<br />
      女子飞碟双多向决赛；<br />
      男子飞碟双多向决赛</td>
    <td>广州飞碟中心</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td>15:30</td>
    <td>男子飞碟双向资格赛第1天；<br />
      女子飞碟双向资格赛；<br />
      女子飞碟双向决赛</td>
    <td>广州飞碟中心</td>
  </tr>
  <tr>
    <td>射击</td>
    <td>2010-11-24</td>
    <td>09:00</td>
    <td>14:30</td>
    <td>男子飞碟双向资格赛第2天；<br />
      男子飞碟双向决赛</td>
    <td>广州飞碟中心</td>
  </tr>
</table>
