<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛A组 第01场；<br />
      男子预赛C组 第02场；<br />
      男子预赛A组 第03场；<br />
      男子预赛C组 第04场；<br />
      男子预赛A组 第05场；<br />
      男子预赛C组 第06场；</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛B组 第07场；<br />
      男子预赛D组 第08场；<br />
      男子预赛B组 第09场；<br />
      男子预赛D组 第10场；<br />
      男子预赛B组 第11场；<br />
      男子预赛D组 第12场；</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛A组 第13场；<br />
      男子预赛C组 第14场；<br />
      男子预赛A组 第15场；<br />
      男子预赛C组 第16场；<br />
      男子预赛A组 第17场；<br />
      男子预赛C组 第18场；</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛B组 第19场；<br />
      男子预赛D组 第20场；<br />
      男子预赛B组 第21场；<br />
      男子预赛D组 第22场；<br />
      男子预赛B组 第23场；<br />
      男子预赛D组 第24场；</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛A组 第25场；<br />
      男子预赛C组 第26场；<br />
      男子预赛A组 第27场；<br />
      男子预赛C组 第28场；<br />
      男子预赛A组 第29场；<br />
      男子预赛C组 第30场；</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛B组 第31场；<br />
      男子预赛D组 第32场；<br />
      男子预赛B组 第33场；<br />
      男子预赛D组 第34场；<br />
      男子预赛B组 第35场；<br />
      男子预赛D组 第36场；</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛A组 第37场；<br />
      男子预赛C组 第38场；<br />
      男子预赛A组 第39场；<br />
      男子预赛C组 第40场；<br />
      男子预赛A组 第41场；<br />
      男子预赛C组 第42场；</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛B组 第43场；<br />
      男子预赛D组 第44场；<br />
      男子预赛B组 第45场；<br />
      男子预赛D组 第46场；<br />
      男子预赛B组 第47场；<br />
      男子预赛D组 第48场；</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛A组 第49场；<br />
      男子预赛C组 第50场；<br />
      男子预赛A组 第51场；<br />
      男子预赛C组 第52场；<br />
      男子预赛A组 第53场；<br />
      男子预赛C组 第54场；</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子预赛B组 第55场；<br />
      男子预赛D组 第56场；<br />
      男子预赛B组 第57场；<br />
      男子预赛D组 第58场；<br />
      男子预赛B组 第59场；<br />
      男子预赛D组 第60场；</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子预赛A组 第01场；<br />
      女子预赛B组 第02场；<br />
      女子预赛A组 第03场；<br />
      女子预赛B组 第04场；<br />
      女子预赛A组 第05场；<br />
      女子预赛B组 第06场；</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子G组 A5-C6 第61场；<br />
      男子G组 A6-C5 第62场；<br />
      男子E组 A1-C4 第63场；<br />
      男子E组 A2-C3 第64场；<br />
      男子E组 A3-C2 第65场；<br />
      男子E组 A4-C1 第66场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子H组 B5-D6 第67场；<br />
      男子H组 B6-D5 第68场；<br />
      男子F组 B1-D4 第69场；<br />
      男子F组 B2-D3 第70场；<br />
      男子F组 B3-D2 第71场；<br />
      男子F组 B4-D1 第72场</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子预赛A组 第07场；<br />
      女子预赛B组 第08场；<br />
      女子预赛A组 第09场；<br />
      女子预赛B组 第10场；<br />
      女子预赛A组 第11场；<br />
      女子预赛B组 第12场；</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子G组 A5-C5 第73场；<br />
      男子G组 A6-C6 第74场；<br />
      男子E组 (A1-C4)负 - (A3-C2)负 第75场；<br />
      男子E组 (A2-C3)负 - (A4-C1)负 第76场；<br />
      男子E组 (A1-C4)胜 - (A3-C2)胜 第77场；<br />
      男子E组 (A2-C3)胜 - (A4-C1)胜 第78场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子H组 B5-D5 第79场；<br />
      男子H组 B6-D6 第80场；<br />
      男子F组 (B1-D4)负    - (B3-D2)负 第81场；<br />
      男子F组 (B2-D3)负    - (B4-D1)负 第82场；<br />
      男子F组 (B1-D4)胜    - (B3-D2)胜 第83场；<br />
      男子F组 (B2-D3)胜    - (B4-D1)胜 第84场</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子预赛A组 第13场；<br />
      女子预赛B组 第14场；<br />
      女子预赛A组 第15场；<br />
      女子预赛B组 第16场；<br />
      女子预赛A组 第17场；<br />
      女子预赛B组 第18场；</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 G1-H2 第85场；<br />
      男子 G2-H1 第86场；<br />
      男子 (A1C4负-A3C2负)负 - (A2C3负-A4C1负)负:E7,E8 第87场；<br />
      男子 (A1C4负-A3C2负)胜 - (A2C3负-A4C1负)胜:E5,E6 第88场；<br />
      男子 (A1C4胜-A3C2胜)负 - (A2C3胜-A4C1胜)负:E3,E4 第89场；<br />
      男子 (A1C4胜-A3C2胜)胜 - (A2C3胜-A4C1胜)胜:E1,E2 第90场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 G3-H4 第91场；<br />
      男子 G4-H3 第92场；<br />
      男子 (B1D4负-B3D2负)负 - (B2D3负-B4D1负)负:F7,F8 第93场；<br />
      男子 (B1D4负-B3D2负)胜 - (B2D3负-B4D1负)胜:F5,F6 第94场；<br />
      男子 (B1D4胜-B3D2胜)负 - (B2D3胜-B4D1胜)负:F3,F4 第95场；<br />
      男子 (B1D4胜-B3D2胜)胜 - (B2D3胜-B4D1胜)胜:F1,F2 第96场</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子预赛A组 第19场；<br />
      女子预赛B组 第20场；<br />
      女子预赛A组 第21场；<br />
      女子预赛B组 第22场；<br />
      女子预赛A组 第23场；<br />
      女子预赛B组 第24场；</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-22</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子预赛A组 第25场；<br />
      女子预赛B组 第26场；<br />
      女子预赛A组 第27场；<br />
      女子预赛B组 第28场；<br />
      女子预赛A组 第29场；<br />
      女子预赛B组 第30场；</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-23</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 (G3-H4)负- (G4-H3)负: 第23名,    第24名 第97场；<br />
      男子(G3-H4)胜- (G4-H3)胜:第21名, 第22名 第98场；<br />
      男子 E5-F8 第99场；<br />
      男子 E6-F7 第100场；<br />
      男子 E7-F6 第101场；<br />
      男子 E8-F5 第102场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-23</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>男子 (G1-H2)负- (G2-H1)负:第19名, 第20名 第103场；<br />
      男子 (G1-H2)胜- (G2-H1)胜:第17名, 第18名 第104场；<br />
      男子 E1-F4 第105场；<br />
      男子 E2-F3 第106场；<br />
      男子 E3-F2 第107场；<br />
      男子 E4-F1 第108场</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>22:00</td>
    <td>男子 (E5-F8)负- (E7-F6)负:第13-16名    第109场；<br />
      男子 (E6-F7)负-(E8-F5)负:第13-16名 第110场；<br />
      男子 (E5-F8)胜-(E7-F6)胜:第9-12名 第111场；<br />
      男子(E6-F7)胜-(E8-F5)胜:第9-12名 第112场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>22:00</td>
    <td>男子(E1-F4)负-(E3-F2)负:第5-8名 第113场；<br />
      男子(E2-F3)负-(E4-F1)负:第5-8名 第114场；<br />
      男子(E1-F4)胜-(E3-F2)胜:第1-4名 第115场；<br />
      男子(E2-F3)胜-(E4-F1)胜:第1-4名 第116场</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-24</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子A5-B6 第31场；<br />
      女子A6-B5 第32场；<br />
      女子A1-B4 第33场；<br />
      女子A2-B3 第34场</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-25</td>
    <td>10:00</td>
    <td>22:00</td>
    <td>女子A5-B5: 第9-12名 第37场；<br />
      女子A6-B6: 第9-12名 第38场；<br />
      女子(A1-B4)负-(A2-B3)负 第39场；<br />
      女子(A3-B2)负-(A4-B1)负 第40场；<br />
      女子(A1-B4)胜-(A2-B3)胜 第41场；<br />
      女子(A3-B2)胜-(A4-B1)胜 第42场</td>
    <td>广药体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-26</td>
    <td>14:00</td>
    <td>22:00</td>
    <td>男子 第109场负-第110场负:第15名,第16名    第117场；<br />
      男子 第109 胜-第110场胜:第13名,第14名 第118场；<br />
      男子 第111场负-第112场负:第11名,第12名 第119场；<br />
      男子第111场胜-第112场胜:第9名,第10名 第120场</td>
    <td>中大体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-26</td>
    <td>18:00</td>
    <td>22:00</td>
    <td>男子 第113场负-第114场负:第7名,第8名 第121场；<br />
      男子 第113场胜-第114场胜:第5名,第6名 第122场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-26</td>
    <td>19:00</td>
    <td>23:00</td>
    <td>男子 第115场负-第116场负:铜牌,第四    第123场；<br />
      男子 第115场胜-第116场胜:金牌,银牌 第124场</td>
    <td>广州体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-27</td>
    <td>10:00</td>
    <td>14:30</td>
    <td>女子    (A1B4负-A2B3负)负-(A3B2负-A4B1负)负:第7名,第8名 第43场；<br />
      女子 (A1B4负-A2B3负)胜-(A3B2负-A4B1负)胜:第5名,第6名 第44场</td>
    <td>广外体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-27</td>
    <td>10:00</td>
    <td>12:00</td>
    <td>女子 (A1B4胜-A2B3胜)负-(A3B2胜-A4B1胜)负:铜牌,第四 第45场</td>
    <td>广州体育馆</td>
  </tr>
  <tr>
    <td>排球</td>
    <td>2010-11-27</td>
    <td>14:00</td>
    <td>16:00</td>
    <td>女子 (A1B4胜-A2B3胜) 胜-胜 (A3B2胜-A4B1胜):金牌,银牌 第46场</td>
    <td>广州体育馆</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-15</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-16</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-17</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-17</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td>15:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-18</td>
    <td>17:00</td>
    <td>22:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>14:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-19</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>男子预赛；女子预赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-20</td>
    <td>10:00</td>
    <td>14:00</td>
    <td>女子前16名复赛；<br />
      男子前16名复赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-20</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>女子前16名复赛；<br />
      男子前16名复赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-21</td>
    <td>10:00</td>
    <td>14:00</td>
    <td>女子1/4决赛；<br />
      男子1/4决赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-21</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>女子1/4决赛；<br />
      男子1/4决赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-22</td>
    <td>17:00</td>
    <td>21:00</td>
    <td>女子半决赛；<br />
      男子半决赛</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-23</td>
    <td>19:00</td>
    <td>21:30</td>
    <td>女子3-4名决赛；<br />
      女子决赛；<br />
      女子颁奖仪式</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
  <tr>
    <td>沙滩排球</td>
    <td>2010-11-24</td>
    <td>19:00</td>
    <td>21:30</td>
    <td>男子3-4名决赛；<br />
      男子决赛；<br />
      男子颁奖仪式</td>
    <td>亚运城沙排场比赛场地或热身场地A</td>
  </tr>
</table>
