<table border="0" cellpadding="2" cellspacing="1" >
  <col width="140" />
  <col width="88" />
  <col width="40" span="2" />
  <col width="264" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>皮划艇/激流回旋</td>
    <td>2010-11-13</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子单人划艇预赛第一轮；<br />
      男子单人皮艇预赛第一轮；<br />
      男子单人划艇预赛第二轮；<br />
      男子单人皮艇预赛第二轮</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/激流回旋</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子单人划艇半决赛；<br />
      男子单人皮艇半决赛；<br />
      男子单人划艇决赛；<br />
      男子单人皮艇决赛；<br />
      男子单人划艇颁奖；<br />
      男子单人皮艇颁奖</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/激流回旋</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子双人划艇预赛第一轮；<br />
      女子单人皮艇预赛第一轮；<br />
      男子双人划艇预赛第二轮；<br />
      女子单人皮艇预赛第二轮</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/激流回旋</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>男子双人划艇半决赛；<br />
      女子单人皮艇半决赛；<br />
      男子双人划艇决赛；<br />
      女子单人皮艇决赛；<br />
      男子双人划艇颁奖；<br />
      女子单人皮艇颁奖</td>
    <td>广东国际划船中心</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="140" />
  <col width="88" />
  <col width="40" span="2" />
  <col width="264" />
  <col width="203" />
  <tr>
    <td>皮划艇/静水</td>
    <td>2010-11-22</td>
    <td>10:00</td>
    <td>14:50</td>
    <td>男子单人皮艇1000米预赛；<br />
      男子单人划艇1000米预赛；<br />
      女子四人皮艇500米预赛；<br />
      男子双人皮艇1000米预赛；<br />
      男子双人划艇1000米预赛；<br />
      男子四人皮艇1000米预赛</td>
    <td width="203">广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/静水</td>
    <td>2010-11-22</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子单人皮艇200米预赛；<br />
      男子单人皮艇200米预赛；<br />
      男子单人划艇200米预赛；<br />
      男子双人皮艇200米预赛；<br />
      女子单人皮艇500米预赛；<br />
      女子双人皮艇500米预赛</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/静水</td>
    <td>2010-11-23</td>
    <td>10:00</td>
    <td>14:30</td>
    <td>男子单人皮艇1000米半决赛；<br />
      男子单人划艇1000米半决赛；<br />
      女子四人皮艇500米半决赛；<br />
      男子双人皮艇1000米半决赛；　<br />
      男子双人划艇1000米半决赛；<br />
      男子四人皮艇1000米半决赛</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/静水</td>
    <td>2010-11-23</td>
    <td>15:00</td>
    <td>18:00</td>
    <td>女子单人皮艇200米半决赛；<br />
      男子单人皮艇200米半决赛；<br />
      男子单人划艇200米半决赛；<br />
      男子双人皮艇200米半决赛；<br />
      女子单人皮艇500米半决赛；<br />
      女子双人皮艇500米半决赛</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/静水</td>
    <td>2010-11-25</td>
    <td>10:00</td>
    <td>14:40</td>
    <td>男子单人皮艇1000米决赛；<br />
      男子单人划艇1000米决赛；<br />
      男子单人皮艇1000米颁奖仪式；<br />
      男子单人划艇1000米颁奖仪式；<br />
      女子四人皮艇500米决赛；<br />
      男子双人皮艇1000米决赛；<br />
      女子四人皮艇500米颁奖仪式；<br />
      男子双人皮艇1000米颁奖仪式；<br />
      男子双人划艇1000米决赛；<br />
      男子四人皮艇1000米决赛；<br />
      双人划艇1000米颁奖仪式；<br />
      男子四人皮艇1000米颁奖仪式</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>皮划艇/静水</td>
    <td>2010-11-26</td>
    <td>10:00</td>
    <td>12:40</td>
    <td>女子单人皮艇200米决赛；<br />
      男子单人皮艇200米决赛；<br />
      女子单人皮艇200米颁奖仪式；<br />
      男子单人皮艇200米颁奖仪式；<br />
      男子单人划艇200米决赛；<br />
      男子双人皮艇200米决赛；<br />
      男子单人划艇200米颁奖仪式；<br />
      男子双人皮艇200米颁奖仪式；<br />
      女子单人皮艇500米决赛；<br />
      女子双人皮艇500米决赛；<br />
      女子单人皮艇500米颁奖仪式；<br />
      女子双人皮艇500米颁奖仪式</td>
    <td>广东国际划船中心</td>
  </tr>
</table>
