<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>空手道</td>
    <td>2010-11-24</td>
    <td>9:30</td>
    <td>19:00</td>
    <td>男子个人型　淘汰赛至复活半决赛 1号场地；<br />
      女子个人型　淘汰赛至复活半决赛 3号场地；<br />
      男子、女子个人型　决赛 2号场地；<br />
      颁奖仪式男子组手55公斤以下级　淘汰赛至复活半决赛 1号场地；<br />
      男子组手84公斤以上级　淘汰赛至复活半决赛 2号场地；<br />
      女子组手50公斤以下级　淘汰赛至复活半决赛 3号场地；<br />
      男子组手55公斤以下级  84公斤以上级  女子组手50公斤以下级     决赛  2号场地；<br />
      颁奖仪式；<br /></td>
    <td>广东体育馆</td>
  </tr>
  <tr>
    <td>空手道</td>
    <td>2010-11-25</td>
    <td>9:30</td>
    <td>19:00</td>
    <td>男子组手60公斤以下级　淘汰赛至复活半决赛    1号场地；<br />
      女子组手68公斤以上级　淘汰赛至复活半决赛 3号场地；<br />
      男子组手60公斤以下级   女子组手68公斤以上级  决赛     2号场地；<br />
      颁奖仪式男子组手67公斤以下级　淘汰赛至复活半决赛 1号场地；<br />
      女子组手55公斤以下级　淘汰赛至复活半决赛 3号场地；<br />
      男子组手67公斤以下级   女子组手55公斤以下级  决赛     2号场地；<br />
      颁奖仪式</td>
    <td>广东体育馆</td>
  </tr>
  <tr>
    <td>空手道</td>
    <td>2010-11-26</td>
    <td>9:30</td>
    <td>19:00</td>
    <td>男子组手75公斤以下级　淘汰赛至复活半决赛 1号场地；<br />
      女子组手68公斤以下级　淘汰赛至复活半决赛 3号场地；<br />
      男子组手75公斤以下级   女子组手68公斤以下级  决赛     2号场地；<br />
      颁奖仪式；<br />
      男子组手84公斤以下级　淘汰赛至复活半决赛 1号场地；<br />
      女子组手61公斤以下级　淘汰赛至复活半决赛 3号场地；<br />
      男子组手84公斤以下级   女子组手61公斤以下级  决赛     2号场地；<br />
      颁奖仪式</td>
    <td>广东体育馆</td>
  </tr>
</table>
