<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-13</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>C1 vs C3 (场次    1)；<br />
      D1 vs D3 (场次 2)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-14</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>C2 vs C3 (场次 3)；<br />
      D2 vs D3 (场次 4)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-15</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>C1 vs C2 (场次 5)；<br />
      D1 vs D2 (场次 6)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-16</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>印度 vs C组第一 (场次 7，1/4决赛第1场)；<br />
      巴基斯坦 vs C组第二 (场次 8， 1/4决赛第2场)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-17</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>斯里兰卡 vs D组第一    (场次 9，1/4决赛第3场)；<br />
      孟加拉 vs D组第二 (场次 10，1/4决赛第4场)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-18</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>1/4决赛第1场胜者 vs 1/4决赛第3场胜者 (场次    11，女子半决赛第1场)；<br />
      1/4决赛第2场胜者 vs 1/4决赛第4场胜者 (场次 12，女子半决赛第2场)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-19</td>
    <td>09:30</td>
    <td>16:15</td>
    <td>半决赛第1场负者 vs    半决赛第2场负者 (场次 13，女子三、四名决赛)；<br />
      半决赛第1场胜者vs 半决赛第2场胜者 (场次 14， 女子决赛)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-20</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>A1 vs A3 (场次 15)；<br />
      B1 vs B3 (场次 16)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-21</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>A2 vs A3 (场次    17)；<br />
      B2 vs B3 (场次 18)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-22</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>A1 vs A2 (场次 19)；<br />
      B1 vs B2 (场次 20)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-23</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>印度 vs A组第一    (场次 21， 1/4决赛第1场)；<br />
      巴基斯坦 vs A组第二 (场次 22，1/4决赛第2场)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-24</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>斯里兰卡 vs B组第一 (场次    23，1/4决赛第3场)；<br />
      孟加拉 vs B组第二 (场次 24，1/4决赛第4场)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-25</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>1/4决赛第1场胜者    vs 1/4决赛第3场胜者 (场次 25，男子半决赛第1场)；<br />
      1/4决赛第2场胜者 vs 1/4决赛第4场胜者 (场次 26，男子半决赛第2场)</td>
    <td>广工板球场</td>
  </tr>
  <tr>
    <td>板球</td>
    <td>2010-11-26</td>
    <td>09:30</td>
    <td>16:30</td>
    <td>半决赛第1场负者 vs 半决赛第2场负者 (场次 27，男子三、四名决赛)；<br />
      半决赛第1场胜者vs 半决赛第2场胜者 (场次 28，男子决赛)</td>
    <td>广工板球场</td>
  </tr>
</table>
