<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-16</td>
    <td>8:30</td>
    <td>21:30</td>
    <td>男女团体预赛；<br />
      男女团体预赛；<br />
      男女团体预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-17</td>
    <td>8:30</td>
    <td>21:30</td>
    <td>男女团体预赛；<br />
      男女团体预赛；<br />
      男女团体预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-18</td>
    <td>8:30</td>
    <td>21:30</td>
    <td>男女团体预赛；<br />
      男女团体预赛；<br />
      男女团体预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-19</td>
    <td>8:30</td>
    <td>17:00</td>
    <td>男女团体预赛及半决赛；<br />
      男女团体预赛及半决赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-20</td>
    <td>8:30</td>
    <td>17:30</td>
    <td>男子团体决赛；<br />
      男子团体颁奖仪式；<br />
      女子团体决赛；<br />
      女子团体颁奖仪式</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-22</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-22</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>21:00</td>
    <td>男女单组预赛；<br />
      男女单组预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-23</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-23</td>
    <td>14:30</td>
    <td>18:30</td>
    <td>男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛；<br />
      男女单组预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-24</td>
    <td>9:00</td>
    <td>11:00</td>
    <td>男女单组半决赛；<br />
      男女单组半决赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-24</td>
    <td>14:00</td>
    <td>17:00</td>
    <td>男子单组决赛；<br />
      男子单组颁奖仪式；<br />
      女子单组决赛；<br />
      女子单组颁奖仪式</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-25</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-25</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-25</td>
    <td>19:00</td>
    <td>21:00</td>
    <td>男女双人预赛；<br />
      男女双人预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-26</td>
    <td>8:00</td>
    <td>12:00</td>
    <td>男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-26</td>
    <td>13:30</td>
    <td>17:30</td>
    <td>男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛；<br />
      男女双人预赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-26</td>
    <td>19:00</td>
    <td>21:00</td>
    <td>男女双人半决赛；<br />
      男女双人半决赛</td>
    <td>海珠体育中心</td>
  </tr>
  <tr>
    <td>藤球</td>
    <td>2010-11-27</td>
    <td>9:00</td>
    <td>12:00</td>
    <td>男子双人决赛；<br />
      男子双人颁奖仪式；<br />
      女子双人决赛；<br />
      女子双人颁奖仪式</td>
    <td>海珠体育中心</td>
  </tr>
</table>
