<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="334" />
  <col width="173" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-13</td>
    <td> 09:00</td>
    <td>17:00</td>
    <td>男、女子团体淘汰赛第一轮、第二轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-13</td>
    <td>19:00</td>
    <td>23:00</td>
    <td>男、女子团体淘汰赛第二轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-14</td>
    <td>12:00</td>
    <td>17:00</td>
    <td>男、女子团体淘汰赛半决赛</td>
    <td>天河体育馆 (2块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-14</td>
    <td>19:00</td>
    <td> 23:00</td>
    <td>男、女子团体淘汰赛半决赛</td>
    <td>天河体育馆 (2块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-15</td>
    <td>12:00</td>
    <td>17:00</td>
    <td>女子团体淘汰赛决赛</td>
    <td>天河体育馆 (1块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-15</td>
    <td>19:00</td>
    <td>23:00</td>
    <td>男子团体淘汰赛决赛</td>
    <td>天河体育馆 (1块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-16</td>
    <td> 09:00</td>
    <td>17:00</td>
    <td>女子单打、男子双打、女子双打第一轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-16</td>
    <td> 19:00</td>
    <td> 23:00</td>
    <td>女子单打、男子双打第一轮、女子双打第二轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>17:00</td>
    <td>男子单打、混合双打第一轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>23:00</td>
    <td>女子单打、男子双打第二轮、女子双打第三轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>13:00</td>
    <td>男子单打、混合双打第二轮，女子单打、男子双打第三轮</td>
    <td>天河体育馆 (4块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-18</td>
    <td> 19:30</td>
    <td> 23:30</td>
    <td>女子单打、男子双打第三轮、女子双打半决赛</td>
    <td>天河体育馆 (2块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-19</td>
    <td> 09:00</td>
    <td> 13:00</td>
    <td>女子单打半决赛、男子单打、混合双打第三轮</td>
    <td>天河体育馆 (2块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-19</td>
    <td>19:30</td>
    <td>23:30</td>
    <td>男子单打第三轮、男子双打半决赛、女子双打决赛</td>
    <td>天河体育馆 (1块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-20</td>
    <td>13:00</td>
    <td>17:00</td>
    <td>混合双打半决赛、女子单打决赛</td>
    <td>天河体育馆 (1块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-20</td>
    <td> 19:30</td>
    <td> 23:30</td>
    <td>男子单打半决赛、男子双打决赛</td>
    <td>天河体育馆 (1块场地)</td>
  </tr>
  <tr>
    <td>羽毛球</td>
    <td>2010-11-21</td>
    <td> 19:30</td>
    <td> 23:30</td>
    <td>男子单打决赛、混合双打决赛</td>
    <td>天河体育馆 (1块场地)</td>
  </tr>
</table>
