<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>橄榄球</td>
    <td>2010-11-21</td>
    <td>14:30</td>
    <td>18:30</td>
    <td>男子组A1 vs A4 (场次1)；<br />
      男子组B1 vs B4 (场次2)；<br />
      女子组A1 vs A5 (场次3)；<br />
      女子组B1 vs B5 (场次4)；<br />
      男子组C1 vs C4(场次5)；<br />
      男子组D1 vs D4 (场次6)；<br />
      女子组A2 vs A4 (场次7)；<br />
      女子组B2 vs B4 (场次8)；<br />
      男子组A2 vs A3 (场次9)；<br />
      男子组B2 vs B3 (场次10)；<br />
      女子组A3 vs A5 (场次11)；<br />
      女子组B3 vs B5 (场次12)</td>
    <td>大学城中心体育场</td>
  </tr>
  <tr>
    <td>橄榄球</td>
    <td>2010-11-22</td>
    <td>8:00</td>
    <td>18:40</td>
    <td>男子组C2 vs C3 (场次13)；<br />
      男子组D2 vs D3 (场次14)；<br />
      女子组A1 vs A4 (场次15)；<br />
      女子组B1 vs B4 (场次16)；<br />
      男子组A1 vs A3 (场次17)；<br />
      男子组B1 vs B3 (场次18)；<br />
      女子组A2 vs A3 (场次19)；<br />
      女子组B2 vs B3 (场次20)；<br />
      男子组C1 vs C3 (场次21)；<br />
      男子组D1 vs D3 (场次22)；<br />
      女子组A4 Vs A5 (场次23)；<br />
      女子组B4 Vs B5 (场次24)；<br />
      男子组A2 vs A4 (场次25)；<br />
      男子组B2 vs B4 (场次26)；<br />
      女子组A1 vs A3 (场次27)；<br />
      女子组B1 vs B3 (场次28)；<br />
      男子组C2 vs C4 (场次29)；<br />
      男子组D2 vs D4 (场次30)；<br />
      女子组A2 vs A5 (场次31)；<br />
      女子组B2 vs B5 (场次32)；<br />
      男子组A3 vs A4 (场次33)；<br />
      男子组B3 vs B4 (场次34)；<br />
      女子组A3 vs A4 (场次35)；<br />
      女子组B3 vs B4 (场次36)；<br />
      男子组C3 vs C4 (场次37)；<br />
      男子组D3 vs D4 (场次38)；<br />
      女子组A1 vs A2 (场次39)；<br />
      女子组B1 vs B2 (场次40)；<br />
      男子组A1 vs A2 (场次41)；<br />
      男子组B1 vs B2 (场次42)；<br />
      男子组C1 vs C2 (场次43)；<br />
      男子组D1 vs D2 (场次44)</td>
    <td>大学城中心体育场</td>
  </tr>
  <tr>
    <td>橄榄球</td>
    <td>2010-11-23</td>
    <td>8:20</td>
    <td>18:50</td>
    <td>男子组A组第三 vs D组第四    (9-16名决赛,场次45)；<br />
      男子组B组第三 vs C组第四 (9-16名决赛,场次46)；<br />
      男子组C组第三 vs B组第四 (9-16名决赛,场次47)；<br />
      男子组D组第三 vs A组第四 (9-16名决赛,场次48)；<br />
      女子组A组第一 vs B组第二 (半决赛，场次49)；<br />
      女子组A组第二 vs B组第一（半决赛，场次50）；<br />
      男子组A组第一 vs D组第二 (1-8名决赛,场次51)；<br />
      男子组B组第一 vs C组第二 (1-8名决赛,场次52)；<br />
      男子组C组第一 vs B组第二 (1-8名决赛,场次53)；<br />
      男子组D组第一 vs A组第二 (1-8名决赛,场次54)；<br />
      女子组A组第五 vs B组第五 (9、10名决赛，场次55)；<br />
      女子组A组第四 vs B组第四（7、8名决赛， 场次56）；<br />
      男子组第45场负 vs 第47场负 (13-16名决赛，场次57)；<br />
      男子组第46场负 vs 第48场负 (13-16名决赛，场次58)；<br />
      男子组第45场胜 vs 第47场胜 (9-12名决赛，场次59)；<br />
      男子组第46场胜 vs 第48场胜 (9-12名决赛，场次60)；<br />
      女子组A组第三 vs B组第三 (5、6名决赛，场次61)；<br />
      男子组第51场胜 vs 第53场胜 (半决赛，场次62)；<br />
      男子组52场胜 vs 第54场胜 (半决赛，场次63)；<br />
      男子组第51场负 vs 第53场负 (5-8名决赛，场次64)；<br />
      男子组第52场负 vs 第54场负 (5-8名决赛，场次65)；<br />
      男子组第57场负 vs 第58场负（15、16名决赛，场次66）；<br />
      男子组第55场胜 vs 第56场胜 (13、14名决赛，场次67)；<br />
      男子组第59场负 vs 第60场负 (11、12名决赛，场次68)；<br />
      男子组第59场胜 vs 第60场胜 (9、10名决赛，场次69)；<br />
      男子组第64场负 vs 第65场负 (7、8名决赛，场次70)；<br />
      男子组第64场胜 vs 第65场胜 (5、6名决赛，场次71)；<br />
      女子组第49场负 vs 第50场负 (3、4名决赛，场次72)；<br />
      男子组第62场负 vs 第63场负（3、4名决赛，场次73)；<br />
      女子组冠、亚军决赛(场次74)；<br />
      男子组冠、亚军决赛(场次75)</td>
    <td>大学城中心体育场</td>
  </tr>
</table>
