<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-15</td>
    <td>09:00</td>
    <td>16:30</td>
    <td>男子个人赛第一组；<br />
      男子个人赛第二组</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-16</td>
    <td>09:00</td>
    <td>17:30</td>
    <td>女子个人赛第一组；<br />
      女子个人赛第二组；<br />
      个人赛颁奖仪式</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-17</td>
    <td>09:00</td>
    <td>16:30</td>
    <td>男子双人赛第一组；<br />
      男子双人赛第二组；</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-18</td>
    <td>09:00</td>
    <td>17:30</td>
    <td>女子双人赛第一组；女子双人赛第二组；双人赛颁奖仪式</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>  24:10</td>
    <td>男子三人赛第一组第一场；<br />
      男子三人赛第二组第一场；<br />
      女子三人赛第一组第一场；<br />
      女子三人赛第二组第一场</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-20</td>
    <td>09:00</td>
    <td>  24:10</td>
    <td>男子三人赛第一组第二场；<br />
      男子三人赛第二组第二场；<br />
      女子三人赛第一组第二场；<br />
      女子三人赛第二组第二场</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td>19:30</td>
    <td>男子五人队际赛第一场；<br />
      三人赛颁奖仪式；<br />
      女子五人队际赛第一场</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-22</td>
    <td>09:00</td>
    <td>19:30</td>
    <td>女子五人队际赛第二场；<br />
      男子五人队际赛第二场；<br />
      五人队际赛颁奖仪式；<br />
      全能赛颁奖仪式</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-23</td>
    <td>09:00</td>
    <td>15:30</td>
    <td>男子精英赛第一场；<br />
      女子精英赛第一场</td>
    <td>天河保龄球馆</td>
  </tr>
  <tr>
    <td>保龄球</td>
    <td>2010-11-24</td>
    <td>09:00</td>
    <td>20:30</td>
    <td>女子精英赛第二场；<br />
      男子精英赛第二场；<br />
      梯级挑战赛；<br />
      精英赛颁奖仪式</td>
    <td>天河保龄球馆</td>
  </tr>
</table>
