<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - A1 vs A4  第01场；<br />
      男子预赛 - B1 vs B4  第02场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - C1 vs C4     第03场；<br />
      男子预赛 - D1 vs D4  第04场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - A2 vs A6  第05场；<br />
      男子预赛 - B2 vs B6  第06场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - C2 vs C6     第07场；<br />
      男子预赛 - D2 vs D6  第08场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - A3 vs A5  第09场；<br />
      男子预赛 - B3 vs B5  第10场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-13</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - C3 vs C5     第11场；<br />
      男子预赛 - D3 vs D5  第12场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - A4 vs A2  第13场；<br />
      男子预赛 - B4 vs B2  第14场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - C4 vs C2     第15场；<br />
      男子预赛 - D4 vs D2  第16场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - A5 vs A1  第17场；<br />
      男子预赛 - B5 vs B1  第18场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - C5 vs C1     第19场；<br />
      男子预赛 - D5 vs D1  第20场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - A6 vs A3  第21场；<br />
      男子预赛 - B6 vs B3  第22场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-14</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - C6 vs C3     第23场；<br />
      男子预赛 - D6 vs D3  第24场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - A1 vs A6  第25场；<br />
      男子预赛 - B1 vs B6  第26场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - C1 vs C6     第27场；<br />
      男子预赛 - D1 vs D6  第28场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - A2 vs A3  第29场；<br />
      男子预赛 - B2 vs B3  第30场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - C2 vs C3     第31场；<br />
      男子预赛 - D2 vs D3  第32场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - A4 vs A5  第33场；<br />
      男子预赛 - B4 vs B5  第34场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-15</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - C4 vs C5     第35场；<br />
      男子预赛 - D4 vs D5  第36场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - A2 vs A5  第37场；<br />
      男子预赛 - B2 vs B5  第38场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - C2 vs C5     第39场；<br />
      男子预赛 - D2 vs D5  第40场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - A3 vs A1  第41场；<br />
      男子预赛 - B3 vs B1  第42场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - C3 vs C1     第43场；<br />
      男子预赛 - D3 vs D1  第44场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - A6 vs A4  第45场；<br />
      男子预赛 - B6 vs B4  第46场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-16</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - C6 vs C4     第47场；<br />
      男子预赛 - D6 vs D4  第48场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - A5 vs A6  第49场；<br />
      男子预赛 - B5 vs B6  第50场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>男子预赛 - C5 vs C6     第51场；<br />
      男子预赛 - D5 vs D6  第52场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - A3 vs A4  第53场；<br />
      男子预赛 - B3 vs B4  第54场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>男子预赛 - C3 vs C4     第55场；<br />
      男子预赛 - D3 vs D4  第56场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - A1 vs A2  第57场；<br />
      男子预赛 - B1 vs B2  第58场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-17</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>男子预赛 - C1 vs C2     第59场；<br />
      男子预赛 - D1 vs D2  第60场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-18</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小组赛 - A1 vs A4  第01场；<br />
      女子小组赛 - B1 vs B4  第02场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-18</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小组赛 - A2 vs A6     第03场；<br />
      女子小组赛 - B2 vs B6  第04场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-18</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小组赛 - A3 vs A5  第05场；<br />
      女子小组赛 - B3 vs B5  第06场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小组赛 - A4 vs A2     第07场；<br />
      女子小组赛 - B4 vs B2  第08场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子小组赛 第1组  第61场；<br />
      男子小组赛 第2组  第62场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小组赛 - A6 vs A3     第09场；<br />
      女子小组赛 - B6 vs B3  第10场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子小组赛 第1组  第63场；<br />
      男子小组赛 第2组  第64场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-19</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小组赛 - A5 vs A1     第11场；<br />
      女子小组赛 - B5 vs B1  第12场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小组赛 - A1 vs A6  第13场；<br />
      女子小组赛 - B1 vs B6  第14场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子小组赛 第1组     第65场；<br />
      男子小组赛 第2组  第66场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小组赛 - A2 vs A3  第15场；<br />
      女子小组赛 - B2 vs B3  第16场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子小组赛 第1组     第67场；<br />
      男子小组赛 第2组  第68场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-20</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小组赛 - A4 vs A5  第17场；<br />
      女子小组赛 - B4 vs B5  第18场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-21</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子小组赛 第1组     第69场；<br />
      男子小组赛 第2组  第70场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-21</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子小组赛 第1组  第71场；<br />
      男子小组赛 第2组  第72场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小组赛 - A2 vs A5     第19场；<br />
      女子小组赛 - B2 vs B5  第20场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子排位赛  第73场；<br />
      男子排位赛  第74场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小组赛 - A3 vs A1     第21场；<br />
      女子小组赛 - B3 vs B1  第22场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子排位赛  第75场；<br />
      男子排位赛  第76场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-22</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小组赛 - A6 vs A4     第23场；<br />
      女子小组赛 - B6 vs B4  第24场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>9:00</td>
    <td>12:15</td>
    <td>女子小组赛 - A5 vs A6  第25场；<br />
      女子小组赛 - B5 vs B6  第26场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子9-16排位赛     第77场；<br />
      男子9-16排位赛  第78场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>14:00</td>
    <td>17:15</td>
    <td>女子小组赛 - A3 vs A4  第27场；<br />
      女子小组赛 - B3 vs B4  第28场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子9-16排位赛     第79场；<br />
      男子9-16排位赛  第80场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-23</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子小组赛 - A1 vs A2  第29场；<br />
      女子小组赛 - B1 vs B2  第30场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-24</td>
    <td>12:00</td>
    <td>16:15</td>
    <td>男子5-8名排位赛  第81场 ；<br />
      男子5-8名排位赛  第82场 </td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-24</td>
    <td>18:00</td>
    <td>22:15</td>
    <td>男子半决赛 第83场；<br />
      男子半决赛 第84场</td>
    <td>华师体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-25</td>
    <td>9:00</td>
    <td>13:15</td>
    <td>女子5-12名排位赛     第31场；<br />
      女子5-12名排位赛  第32场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-25</td>
    <td>14:00</td>
    <td>18:15</td>
    <td>女子5-12名排位赛  第33场；<br />
      女子5-12名排位赛  第34场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-25</td>
    <td>19:00</td>
    <td>22:15</td>
    <td>女子5-12名排位赛     第35场；<br />
      女子5-12名排位赛  第36场</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-26</td>
    <td>12:00</td>
    <td>16:50</td>
    <td>女子3-4名决赛 第37场；<br />
      女子决赛 第38场；<br />
      女子颁奖仪式</td>
    <td>广工体育馆</td>
  </tr>
  <tr>
    <td>手球</td>
    <td>2010-11-26</td>
    <td>18:00</td>
    <td>22:50</td>
    <td>男子3-4名决赛 第85场；<br />
      男子决赛 第86场；<br />
      男子颁奖仪式</td>
    <td>华师体育馆</td>
  </tr>
</table>
<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-13</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-14</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-15</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-16</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-17</td>
    <td>14:30</td>
    <td> 17:10</td>
    <td>女子比赛(颁奖）</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-19</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子小组赛第一轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-19</td>
    <td>14:30</td>
    <td>17:10</td>
    <td>男子小组赛第一轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-19</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子小组赛第一轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-20</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子小组赛第二轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-20</td>
    <td>14:30</td>
    <td>17:10</td>
    <td>男子小组赛第二轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-20</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子小组赛第二轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-21</td>
    <td>09:00</td>
    <td>11:10</td>
    <td>男子小组赛第三轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-21</td>
    <td>14:30</td>
    <td>17:10</td>
    <td>男子小组赛第三轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-21</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子小组赛第三轮</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-22</td>
    <td> 14:30</td>
    <td>17:10</td>
    <td>男子1/4决赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-22</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子1/4决赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-23</td>
    <td> 14:30</td>
    <td>17:10</td>
    <td>男子5-8名排位赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-23</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子1/2决赛（1-4名）</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-25</td>
    <td> 14:30</td>
    <td>17:10</td>
    <td>男子7-8名，5-6名决赛</td>
    <td>天河游泳馆</td>
  </tr>
  <tr>
    <td>水球</td>
    <td>2010-11-25</td>
    <td>19:30</td>
    <td> 22:10</td>
    <td>男子3-4名，1-2名决赛（颁奖）</td>
    <td>天河游泳馆</td>
  </tr>
</table>
