<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>赛艇</td>
    <td>2010-11-14</td>
    <td>10:00</td>
    <td>16:00</td>
    <td>女子双人双桨预赛；<br />
      男子双人双桨预赛；<br />
      女子轻量级双人双桨预赛；<br />
      男子轻量级双人双桨预赛；<br />
      女子四人单桨无舵手预赛；<br />
      男子四人单桨无舵手预赛；<br />
      男子轻量级四人单桨无舵手预赛；<br />
      女子单人双桨预赛；<br />
      男子单人双桨预赛；<br />
      女子轻量级单人双桨预赛；<br />
      男子轻量级单人双桨预赛；<br />
      女子双人单桨无舵手预赛；<br />
      女子轻量级四人双桨预赛；<br />
      男子八人单桨有舵手预赛</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>赛艇</td>
    <td>2010-11-15</td>
    <td>10:00</td>
    <td>16:00</td>
    <td>女子双人双桨复赛；<br />
      男子双人双桨复赛；<br />
      女子轻量级双人双桨复赛；<br />
      男子轻量级双人双桨复赛；<br />
      女子四人单桨无舵手复赛；<br />
      男子四人单桨无舵手复赛；<br />
      男子轻量级四人单桨无舵手复赛；<br />
      女子单人双桨复赛；<br />
      男子单人双桨复赛；<br />
      女子轻量级单人双桨复赛；<br />
      男子轻量级单人双桨复赛；<br />
      女子双人单桨无舵手复赛；<br />
      女子轻量级四人双桨复赛；<br />
      男子八人单桨有舵手复赛</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>赛艇</td>
    <td>2010-11-16</td>
    <td>10:00</td>
    <td>16:00</td>
    <td>女子双人双桨半决赛；<br />
      男子双人双桨半决赛；<br />
      女子轻量级双人双桨半决赛；<br />
      男子轻量级双人双桨半决赛；<br />
      女子四人单桨无舵手半决赛；<br />
      男子四人单桨无舵手半决赛；<br />
      男子轻量级四人单桨无舵手半决赛；<br />
      女子单人双桨半决赛；<br />
      男子单人双桨半决赛；<br />
      女子轻量级单人双桨半决赛；<br />
      男子轻量级单人双桨半决赛；<br />
      女子双人单桨无舵手半决赛；<br />
      女子轻量级四人双桨半决赛；<br />
      男子八人单桨有舵手半决赛</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>赛艇</td>
    <td>2010-11-18</td>
    <td>10:00</td>
    <td>16:00</td>
    <td>女子双人双桨决赛；<br />
      男子双人双桨决赛；<br />
      女子双人双桨颁奖仪式；<br />
      女子轻量级双人双桨决赛；<br />
      男子双人双桨颁奖仪式；<br />
      男子轻量级双人双桨决赛；<br />
      女子轻量级双人双桨颁奖仪式；<br />
      女子四人单桨无舵手决赛；<br />
      男子轻量级双人双桨颁奖仪式；<br />
      男子四人单桨无舵手决赛；<br />
      女子四人单桨无舵手颁奖仪式；<br />
      男子轻量级四人单桨无舵手决赛；<br />
      男子四人单桨无舵手颁奖仪式；<br />
      男子轻量级四人单桨无舵手颁奖仪式</td>
    <td>广东国际划船中心</td>
  </tr>
  <tr>
    <td>赛艇</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>16:00</td>
    <td>女子单人双桨决赛；<br />
      男子单人双桨决赛；<br />
      女子单人双桨颁奖仪式；<br />
      女子轻量级单人双桨决赛；<br />
      男子单人双桨颁奖仪式；<br />
      男子轻量级单人双桨决赛；<br />
      女子轻量级单人双桨颁奖仪式；<br />
      女子双人单桨无舵手决赛；<br />
      男子轻量级单人双桨颁奖仪式；<br />
      女子轻量级四人双桨决赛；<br />
      女子双人单桨无舵手颁奖仪式；<br />
      男子八人单桨有舵手决赛；<br />
      女子轻量级四人双桨颁奖仪式；<br />
      男子八人单桨有舵手颁奖仪式</td>
    <td>广东国际划船中心</td>
  </tr>
</table>
