<table border="0" cellpadding="2" cellspacing="1" >
  <col width="100" />
  <col width="88" />
  <col width="44" span="2" />
  <col width="304" />
  <col width="203" />
  <tr>
    <th>项目</th>
    <th>日期</th>
    <th>开始<br />
      时间</th>
    <th >结束<br />
      时间 </th>
    <th>场次描述 </th>
    <th>场馆</th>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-13</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子56公斤级B组；<br />
      女子48公斤级B组；<br />
      男子56公斤级A组；<br />
      男子56公斤级颁奖；<br />
      女子48公斤级A组；<br />
      女子48公斤级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-14</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子62公斤级B组；<br />
      女子53公斤级B组；<br />
      男子62公斤级A组；<br />
      男子62公斤级颁奖；<br />
      女子53公斤级A组；<br />
      女子53公斤级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-15</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子69公斤级B组；<br />
      女子58公斤级B组；<br />
      男子69公斤级A组；<br />
      男子69公斤级颁奖；<br />
      女子58公斤级A组；<br />
      女子58公斤级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-16</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子77公斤级B组；<br />
      女子63公斤级B组；<br />
      男子77公斤级A组；<br />
      男子77公斤级颁奖；<br />
      女子63公斤级A组；<br />
      女子63公斤级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-17</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子85公斤级B组；<br />
      女子69公斤级B组；<br />
      男子85公斤级A组；<br />
      男子85公斤级颁奖；<br />
      女子69公斤级A组；<br />
      女子69公斤级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-18</td>
    <td>12:30</td>
    <td>21:30</td>
    <td>男子94公斤级B组；<br />
      女子75公斤级B组；<br />
      男子94公斤级A组；<br />
      男子94公斤级颁奖；<br />
      女子75公斤级A组；<br />
      女子75公斤级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
  <tr>
    <td>举重</td>
    <td>2010-11-19</td>
    <td>10:00</td>
    <td>21:00</td>
    <td>男子105公斤级B组；<br />
      女子75公斤以上级B组；<br />
      男子105公斤以上级B组；<br />
      男子105公斤级A组；<br />
      男子105公斤级颁奖；<br />
      女子75公斤以上级A组；<br />
      女子75公斤以上级颁奖；<br />
      男子105公斤以上级A组；<br />
      男子105公斤以上级颁奖</td>
    <td>东莞体育馆</td>
  </tr>
</table>
